@charset "UTF-8";
/* ***************  global *************** */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-SemiBold"';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold".woff') format("woff");
  font-weight: 600;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Pretendard-Regular", sans-serif;
  overscroll-behavior: none;
  box-sizing: content-box;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
} /*  ie-mac \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
} /* ie-mac */
/* *********** other ********** */
.effect {
  background-color: #000;
  filter: Alpha(opacity=35);
  opacity: 0.3;
  -moz-opacity: 0.3;
}

summary {
  display: none;
}

/* link */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* image */
img {
  border: 0;
  vertical-align: top;
}

dl, dt, dd, section, p, div, h2 {
  padding: 0;
  margin: 0;
}

/* list */
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ol {
  padding-left: 24px;
}

/* area */
hr {
  display: none;
}

/* form */
form {
  margin: 0;
  padding: 0;
}

form label, label {
  height: 19px;
  color: #5E5E5E;
  cursor: default;
  font-size: 100%;
}

select {
  font-size: 100%;
  background: #fff;
  vertical-align: middle;
  height: 20px;
  letter-spacing: 0px;
}

legend {
  display: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

/* table */
table {
  margin: 0px;
  padding: 0px;
  border-spacing: 0;
}

td {
  margin: 0px;
  padding: 0px;
}

.notable {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  border: 0 solid;
}

th {
  font-weight: normal;
}

/* h */
h1, h2, h3, h4, h5, h6, h7 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

strong, b {
  font-weight: normal;
}

.pos-r {
  position: relative;
}

.dp-b {
  display: block;
}

.dp-ib {
  display: inline-block;
}

.floatl {
  float: left;
}

.floatr {
  float: right;
}

.bd0 {
  border: 0;
}

.border {
  border: 1px solid !important;
}

/* title */
/* list gutters "360: 16, 768 : 16, 1024 : 20, 1280 : 24, 1600 : 24, 1920 : 24" */
@media screen and (max-width: 768px) {
  .mo {
    display: block;
  }
  .pc {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .mo {
    display: none;
  }
  .pc {
    display: block;
  }
}
/* header */
div.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 45;
  width: 100%;
  background: #fff;
  height: 70px;
  padding-top: 17px;
  border-bottom: 1px solid #EAEAEA;
}
@media screen and (max-width: 768px) {
  div.header-wrapper {
    height: 60px;
    padding-top: 0px;
  }
}
div.header-wrapper .header-left {
  float: left;
  padding-top: 4px;
}
@media screen and (max-width: 768px) {
  div.header-wrapper .header-left {
    width: 100%;
    height: 60px;
    margin-top: 60px;
    background: #fff;
    border-bottom: 1px solid #EAEAEA;
  }
}
div.header-wrapper .header-left h1 {
  float: left;
  width: 98px;
  height: 22px;
  background: url("../img/logo_top.svg") 0 0 no-repeat;
  text-indent: -9999px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  div.header-wrapper .header-left h1 {
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}
div.header-wrapper .header-left a {
  float: left;
  font-size: 14px;
  color: #0D0D0D;
  line-height: 22px;
  padding-left: 27px;
  margin-left: 30px;
}
@media screen and (max-width: 768px) {
  div.header-wrapper .header-left a {
    display: inline-block;
    width: 50%;
    padding-left: 0;
    padding-top: 13px;
    padding-bottom: 10px;
    margin-left: 0;
    text-align: center;
  }
}
div.header-wrapper .header-left a:nth-child(2) {
  background: url("../img/icons/icon_place.svg") 0 2px no-repeat;
}
@media screen and (max-width: 768px) {
  div.header-wrapper .header-left a:nth-child(2) {
    background-image: none;
  }
}
@media screen and (max-width: 768px) {
  div.header-wrapper .header-left a:nth-child(2) span {
    padding-left: 25px;
    background: url("../img/icons/icon_place.svg") 0 2px no-repeat;
  }
}
div.header-wrapper .header-left a:nth-child(3) {
  background: url("../img/icons/icon_plus.svg") 0 2px no-repeat;
}
@media screen and (max-width: 768px) {
  div.header-wrapper .header-left a:nth-child(3) {
    background-image: none;
  }
}
@media screen and (max-width: 768px) {
  div.header-wrapper .header-left a:nth-child(3) span {
    padding-left: 25px;
    background: url("../img/icons/icon_plus.svg") 0 2px no-repeat;
  }
}
div.header-wrapper .header-left a span {
  display: inline-block;
  padding-bottom: 5px;
}
div.header-wrapper .header-left a span.on {
  border-bottom: 2px solid #2EC4B6;
}
div.header-wrapper .header-right {
  position: relative;
  float: right;
}
div.header-wrapper .header-right a.tops {
  display: inline-block;
  float: left;
  width: 32px;
  height: 32px;
  font-size: 14px;
  margin-left: 20px;
  text-indent: -9999px;
}
div.header-wrapper .header-right a.tops.a {
  background: url("../img/icons/icon_zoom_black.svg") 0 2px no-repeat;
}
@media screen and (max-width: 768px) {
  div.header-wrapper .header-right a.tops.a {
    position: fixed;
    left: 14px;
    top: 12px;
    margin-left: 0;
  }
}
div.header-wrapper .header-right a.tops.c {
  position: relative;
  background: url("../img/icons/icon_bell_black.svg") 0 2px no-repeat;
}
@media screen and (max-width: 768px) {
  div.header-wrapper .header-right a.tops.c {
    display: none;
  }
}
div.header-wrapper .header-right a.tops.c span {
  position: absolute;
  width: 8px;
  height: 8px;
  right: 5px;
  top: 7px;
  border-radius: 50%;
  background: #2EC4B6;
}
div.header-wrapper .header-right a.tops.d {
  background: url("../img/icons/icon_menu_black.svg") 0 2px no-repeat;
}
@media screen and (max-width: 768px) {
  div.header-wrapper .header-right a.tops.d {
    position: fixed;
    right: 14px;
    top: 12px;
  }
}
div.header-wrapper .header-right div.b {
  display: inline-block;
  float: left;
  position: relative;
  background: url("../img/icons/icon_login_black.svg") 0 2px no-repeat;
  width: 32px;
  height: 32px;
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  div.header-wrapper .header-right div.b {
    display: none;
  }
}
div.header-wrapper .header-right div.b p.bloom-login {
  display: none;
  position: absolute;
  left: -150px;
  top: -4px;
  width: 150px;
  height: 55px;
  padding: 9px 0 0 25px;
  background: url("../img/icons/login_right.svg") 0 2px no-repeat;
}
div.header-wrapper .header-right div.b p.bloom-login a {
  font-size: 12px;
  color: #0D0D0D;
}
div.header-wrapper .header-right div.b p.bloom-login span {
  font-size: 10px;
  color: #A2A2A4;
  margin: 0 8px;
}
div.header-wrapper .header-right div.search-box {
  display: none;
  position: absolute;
  left: -360px;
  top: -5px;
  height: 44px;
  width: 400px;
  background: #f0f0f0;
  border-radius: 22px 0 0 22px;
}
@media screen and (max-width: 768px) {
  div.header-wrapper .header-right div.search-box {
    position: fixed;
    left: 15px;
    top: 10px;
    height: 36px;
    width: 70%;
    background: #f0f0f0;
    border-radius: 22px 0 0 22px;
  }
}
div.header-wrapper .header-right div.search-box input[type=text] {
  width: 85%;
  margin: 10px 0 0 25px;
  background: #f0f0f0;
  border: 0;
  outline: none;
}
@media screen and (max-width: 768px) {
  div.header-wrapper .header-right div.search-box input[type=text] {
    margin: 6px 0 0 20px;
    font-size: 14px;
  }
}
div.header-wrapper .header-right div.search-box input[type=text]::-moz-placeholder {
  color: #C6CAD3;
}
div.header-wrapper .header-right div.search-box input[type=text]::placeholder {
  color: #C6CAD3;
}
div.header-wrapper .header-right div.search-box button.search-btn {
  float: right;
  width: 44px;
  height: 44px;
  border: 0;
  background: #2EC4B6 url("../img/icons/icon_zoom_white.svg") 50% 50% no-repeat;
  text-indent: -9999px;
  border-radius: 50%;
  margin-right: -20px;
}
@media screen and (max-width: 768px) {
  div.header-wrapper .header-right div.search-box button.search-btn {
    width: 36px;
    height: 36px;
  }
}
div.header-wrapper div.notification-wrap {
  display: none;
  position: absolute;
  width: 260px;
  top: 40px;
  right: 0;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  background: #fff;
  z-index: 10;
  padding: 10px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  div.header-wrapper div.notification-wrap {
    position: fixed;
    width: 260px;
    top: 55px;
    right: 20px;
    z-index: 101;
  }
}
div.header-wrapper div.notification-wrap::after {
  content: "";
  position: absolute;
  top: -6px; /* 박스 위에 걸치도록 */
  right: 63px; /* 화살표 좌우 위치 조정 */
  width: 10px;
  height: 10px;
  background: #fff; /* 박스 배경색 */
  border-top: 1px solid #D9D9D9;
  border-left: 1px solid #D9D9D9;
  transform: rotate(45deg); /* 정사각형을 45도 돌려서 삼각형처럼 보이게 */
}
div.header-wrapper div.notification-wrap div.inner {
  height: 470px;
  overflow-x: hidden;
  overflow: auto;
}
div.header-wrapper div.notification-wrap ul li {
  padding: 14px;
  border-radius: 8px;
}
div.header-wrapper div.notification-wrap ul li:hover {
  background: #DEF6F4;
}
div.header-wrapper div.notification-wrap ul li p {
  font-size: 14px;
  color: #0D0D0D;
}
div.header-wrapper div.notification-wrap ul li p.a {
  font-family: "Pretendard-Medium";
}
div.header-wrapper div.notification-wrap ul li p.b {
  line-height: 17px;
  padding: 8px 0;
}
div.header-wrapper div.notification-wrap ul li p.c {
  color: #6C757D;
}
div.header-wrapper aside {
  position: fixed;
  z-index: 100;
  right: -400px;
  top: 0;
  width: 400px;
  height: 100%;
  background: #FFFFFF;
  padding: 15px 30px 30px 30px;
  transition: right 0.5s ease-in-out;
}
@media screen and (max-width: 768px) {
  div.header-wrapper aside {
    width: 100%;
    right: -100%;
  }
}
div.header-wrapper aside.active {
  right: 0px;
}
div.header-wrapper aside div.menu-header {
  position: relative;
  border-bottom: 1px solid #eaeaea;
  padding: 0 0 20px 0;
}
div.header-wrapper aside div.menu-header div.login-button {
  background: url("../img/icons/icon_login_black.svg") 0 2px no-repeat;
  width: 32px;
  height: 32px;
}
div.header-wrapper aside div.menu-header div.login-button p.bloom-login {
  position: absolute;
  left: 25px;
  top: -4px;
  width: 150px;
  height: 55px;
  padding: 9px 0 0 32px;
  background: url("../img/icons/login_left.svg") 0 2px no-repeat;
}
div.header-wrapper aside div.menu-header div.login-button p.bloom-login a {
  font-size: 12px;
  color: #0D0D0D;
}
div.header-wrapper aside div.menu-header div.login-button p.bloom-login span {
  font-size: 10px;
  color: #A2A2A4;
  margin: 0 8px;
}
div.header-wrapper aside div.menu-header div.login-button p.greeting-msg {
  position: absolute;
  left: 35px;
  top: 7px;
  color: #A2A2A4;
}
div.header-wrapper aside div.menu-header div.login-button p.greeting-msg span {
  color: #0D0D0D;
  font-family: "Pretendard-SemiBold";
}
div.header-wrapper aside div.menu-header a.tops {
  position: absolute;
  right: 42px;
  top: 1px;
  width: 32px;
  height: 32px;
  font-size: 14px;
  text-indent: -9999px;
}
@media screen and (min-width: 769px) {
  div.header-wrapper aside div.menu-header a.tops {
    display: none;
  }
}
div.header-wrapper aside div.menu-header a.tops.c {
  background: url("../img/icons/icon_bell_black.svg") 0 2px no-repeat;
}
div.header-wrapper aside div.menu-header a.tops.c span {
  position: absolute;
  width: 8px;
  height: 8px;
  right: 5px;
  top: 7px;
  border-radius: 50%;
  background: #2EC4B6;
}
div.header-wrapper aside div.menu-header a.menu-close {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  top: 10px;
  background: url("../img/icons/icon_close.svg") 50% 50% no-repeat;
  text-indent: -9999px;
}
div.header-wrapper aside ul.menus {
  padding: 20px 0;
}
div.header-wrapper aside ul.menus li {
  padding-bottom: 10px;
}
div.header-wrapper aside ul.menus li a.depth-1 {
  display: block;
  font-size: 18px;
  color: #0D0D0D;
  font-family: "Pretendard-SemiBold";
  background: url("../img/icons/icon_arrow_down.png") 100% 50% no-repeat;
  padding: 15px 0;
}
div.header-wrapper aside ul.menus li a.depth-1.active {
  background: url("../img/icons/icon_arrow_up.png") 100% 50% no-repeat;
}
div.header-wrapper aside ul.menus li div.submenus {
  display: none;
}
div.header-wrapper aside ul.menus li div.submenus a {
  display: block;
  background: url("../img/icons/bullet_black.svg") 0% 50% no-repeat;
  padding: 10px 0 10px 12px;
  font-size: 16px;
  color: #0D0D0D;
}
div.header-wrapper aside ul.menus li div.submenus a.on {
  background: url("../img/icons/bullet_green.svg") 0% 50% no-repeat;
  color: #2EC4B6;
}
div.header-wrapper aside a.logout-button {
  position: absolute;
  bottom: 20px;
  right: 30px;
  background: url("../img/icons/icon_logout.svg") 0% 46% no-repeat;
  padding: 10px 0 10px 26px;
  font-size: 16px;
  color: #0D0D0D;
}

/* container */
div.container-wrapper {
  padding-top: 70px;
}
@media screen and (max-width: 768px) {
  div.container-wrapper {
    padding-top: 120px;
  }
}
div.container-wrapper div.common-wrapper {
  padding: 100px 0 200px 0;
}
@media screen and (max-width: 768px) {
  div.container-wrapper div.common-wrapper {
    padding: 50px 0 50px 0;
  }
}

/* footer */
div.footer-wrapper {
  background: #0D0D0D;
  color: #A2A2A4;
  font-size: 12px;
  line-height: 21px;
  padding: 60px 0;
}
@media screen and (max-width: 768px) {
  div.footer-wrapper {
    padding: 30px 0;
  }
}
div.footer-wrapper div.top {
  padding-bottom: 40px;
}
@media screen and (max-width: 768px) {
  div.footer-wrapper div.top {
    padding-bottom: 20px;
  }
}
div.footer-wrapper div.top h2 {
  float: left;
  width: 98px;
  height: 22px;
  background: url("../img/logo_white.svg") 0 0 no-repeat;
  text-indent: -9999px;
}
div.footer-wrapper div.top div.footer-menu {
  float: right;
}
@media screen and (max-width: 768px) {
  div.footer-wrapper div.top div.footer-menu {
    float: left;
    width: 100%;
    margin-top: 20px;
  }
}
div.footer-wrapper div.top div.footer-menu a {
  font-size: 12px;
  color: #FFFFFF;
}
div.footer-wrapper div.top div.footer-menu span {
  margin: 0 9px;
  font-size: 11px;
}
@media screen and (max-width: 768px) {
  div.footer-wrapper div.top div.footer-menu span {
    margin: 0 5px;
  }
}
div.footer-wrapper div.bottom p {
  font-size: 14px;
  padding-bottom: 8px;
}
div.footer-wrapper div.bottom span {
  margin: 0 7px;
}
@media screen and (max-width: 768px) {
  div.footer-wrapper div.bottom span {
    display: block;
    font-size: 0;
  }
}

/* 공간찾기 */
/* header, footer 공통 / common-wrapper 는 나머지 레이아숫에서 100% 아닌 것 */
div.header-footer-inner,
div.common-wrapper {
  position: relative;
  margin: 0 auto;
}
@media screen and (min-width: 1920px) {
  div.header-footer-inner,
  div.common-wrapper {
    width: 1440px;
  }
}
@media screen and (min-width: 1600px) and (max-width: 1919px) {
  div.header-footer-inner,
  div.common-wrapper {
    margin: 0 122px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1599px) {
  div.header-footer-inner,
  div.common-wrapper {
    margin: 0 100px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  div.header-footer-inner,
  div.common-wrapper {
    margin: 0 42px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  div.header-footer-inner,
  div.common-wrapper {
    margin: 0 32px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  div.header-footer-inner,
  div.common-wrapper {
    margin: 0 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  div.header-footer-inner.nomobile,
  div.common-wrapper.nomobile {
    margin: 0 0px;
  }
}

/* modal default */
@media screen and (max-width: 768px) {
  .modal-dialog {
    width: 320px !important;
  }
}

.modal-content {
  border-radius: 20px;
  border: 0;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
}
.modal-header {
  border-bottom: 0;
}
.modal-header.bordered {
  border-bottom: 1px solid #EAEAEA;
  padding: 15px 25px;
}
@media screen and (max-width: 768px) {
  .modal-header.bordered {
    padding: 11px 20px;
  }
}
.modal-header h5 {
  font-size: 22px;
  font-family: "Pretendard-SemiBold";
}
@media screen and (max-width: 768px) {
  .modal-header h5 {
    font-size: 18px;
  }
}
.modal-header a.modal-close-button {
  position: absolute;
  right: 30px;
  top: 20px;
  width: 20px;
  height: 20px;
  background: url("../img/icons/icon_close.svg") 50% 50% no-repeat;
  text-indent: -9999px;
}
@media screen and (max-width: 768px) {
  .modal-header a.modal-close-button {
    top: 16px;
    right: 20px;
  }
}

.modal-body {
  padding: 30px;
}
@media screen and (max-width: 768px) {
  .modal-body {
    padding: 20px;
  }
}
.modal-body p.only-text-center {
  text-align: center;
  color: #0D0D0D;
  font-size: 18px;
  padding: 5px 0 15px 0;
}
@media screen and (max-width: 768px) {
  .modal-body p.only-text-center {
    font-size: 16px;
    padding: 0px 0 0px 0;
    line-height: 22px;
  }
}

.modal-footer {
  display: block;
  padding: 30px;
  border-top: 1px solid #EAEAEA;
}
@media screen and (max-width: 768px) {
  .modal-footer {
    padding: 20px;
  }
}
.modal-footer div.two-buttons a {
  width: 48%;
}

.modal-button {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 17px 0;
  border-radius: 8px;
}
.modal-button.green {
  background: #2EC4B6;
}
.modal-button.gray {
  background: #6C757D;
}
.modal-button.light-gray {
  background: #C6CAD3;
}

div.terms-content {
  width: 600px;
  height: 520px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 20px auto 20px auto;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  div.terms-content {
    margin: 0px auto 0px auto;
    width: 100%;
    height: 420px;
    font-size: 16px;
  }
}

/* 툴팁 박스 */
.tooltip-inner {
  background-color: #fff !important; /* 배경 흰색 */
  color: #0D0D0D !important; /* 글자색 */
  border: 1px solid #fff !important; /* 흰색 테두리 */
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15); /* 그림자 */
  padding: 6px 14px;
  border-radius: 17px;
  opacity: 1;
  font-size: 14px;
}

/* 툴팁 화살표 (방향별) */
.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
  border-top-color: #fff !important;
}

.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before {
  border-bottom-color: #fff !important;
}

.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before {
  border-left-color: #fff !important;
}

.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before {
  border-right-color: #fff !important;
}

/* checkbox */
.custom-checkbox {
  display: none;
}

.custom-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.custom-label::before {
  content: "";
  display: inline-block;
  width: 26px; /* 아이콘 크기 */
  height: 26px;
  margin-right: 10px;
  background: url("../img/icons/icon_check.svg") no-repeat center/cover;
  border-radius: 4px;
}

.custom-checkbox:checked + .custom-label::before {
  background: url("../img/icons/icon_checked.svg") no-repeat center/cover;
}

/* selectbox */
.bootstrap-select > .dropdown-toggle {
  border: 1px solid #A2A2A4;
  border-radius: 8px;
  color: #6C757D;
  padding: 15px 20px;
  font-size: 18px;
  background: #fff !important;
}

.dropdown-toggle::after {
  width: 16px;
  height: 16px;
  background: url("../img/icons/icon_arrow_down.png") 50% 50% no-repeat;
  border: 0;
}

.dropdown-toggle.show::after {
  background: url("../img/icons/icon_arrow_up.png") 50% 50% no-repeat;
}

.bootstrap-select button {
  outline: none;
}

.dropdown-item.active, .dropdown-item:active {
  background: #C6CAD3;
}

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: 0px auto -webkit-focus-ring-color !important;
  outline-offset: 0px;
}

/* modal size */
.w-480 {
  width: 480px;
}

.w-660 {
  width: 660px;
  max-width: 660px;
}

.w-30-per {
  width: 30% !important;
}

.w-40-per {
  width: 40% !important;
}

.w-100-per {
  width: 100% !important;
}

/* 아주 작은 화면에서 강제 중앙(예외 처리) */
@media (max-width: 576px) {
  .modal-dialog {
    margin: 0.5rem auto;
  }
}
.film-common {
  display: none;
  position: fixed;
  z-index: 102;
  left: 0%;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.film-normal {
  display: none;
  position: fixed;
  z-index: 50;
  left: 0%;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

a.go-top-btn {
  position: fixed;
  z-index: 40;
  right: 100px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid #E1E1E1;
  border-radius: 50%;
  background: rgb(255, 255, 255) url("../img/icons/icon_go_top.svg") 50% 50% no-repeat;
}
@media screen and (max-width: 768px) {
  a.go-top-btn {
    right: 30px;
    bottom: 40px;
    width: 40px;
    height: 40px;
  }
}

/* login */
div.login-wrapper button.kakao, div.sign-up-wrapper button.kakao {
  border: 0;
  background: #FEE500 url("../img/icons/icon_kakao.svg") 20px 50% no-repeat;
  color: #0D0D0D;
  margin-bottom: 20px;
}
div.login-wrapper button.google, div.sign-up-wrapper button.google {
  border: 1px solid #C6CAD3;
  background: #F7F7F7 url("../img/icons/icon_google.svg") 18px 50% no-repeat;
  color: #0D0D0D;
}
div.login-wrapper input.login-inputs, div.sign-up-wrapper input.login-inputs {
  background: #fff;
  border: 1px solid #C6CAD3;
  outline: none;
  font-size: 18px;
  color: #0D0D0D;
  text-align: left;
  padding-left: 20px;
  font-weight: 500;
}
div.login-wrapper input.login-inputs::-moz-placeholder, div.sign-up-wrapper input.login-inputs::-moz-placeholder {
  color: #C6CAD3;
}
div.login-wrapper input.login-inputs::placeholder, div.sign-up-wrapper input.login-inputs::placeholder {
  color: #C6CAD3;
}
div.login-wrapper p.and-txt, div.sign-up-wrapper p.and-txt {
  font-size: 18px;
  font-family: "Pretendard-Medium";
  color: #A2A2A4;
  padding: 30px 0;
  text-align: center;
}
@media screen and (max-width: 768px) {
  div.login-wrapper p.and-txt, div.sign-up-wrapper p.and-txt {
    padding: 15px 0;
  }
}
div.login-wrapper p.login-title, div.sign-up-wrapper p.login-title {
  font-size: 18px;
  font-family: "Pretendard-SemiBold";
  color: #1D1E1F;
  padding-bottom: 10px;
}
div.login-wrapper p.login-title.pw, div.sign-up-wrapper p.login-title.pw {
  padding-top: 20px;
}
div.login-wrapper div.pww, div.sign-up-wrapper div.pww {
  margin-bottom: 30px;
}
div.login-wrapper div.login-buttom, div.sign-up-wrapper div.login-buttom {
  font-size: 14px;
  font-family: "Pretendard-Regular";
  color: #A2A2A4;
  padding-top: 10px;
}
@media screen and (max-width: 768px) {
  div.login-wrapper div.login-buttom span, div.sign-up-wrapper div.login-buttom span {
    display: none;
  }
}
div.login-wrapper div.login-buttom a, div.sign-up-wrapper div.login-buttom a {
  color: #2EC4B6;
  text-decoration: underline;
}
div.login-wrapper div.guide-pop, div.sign-up-wrapper div.guide-pop {
  position: absolute;
  top: -120%;
  left: 0;
  width: 100%;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  border-radius: 8px;
  background: #6C757D url("../img/icons/icon_x_white.svg") 96% 50% no-repeat;
  box-sizing: border-box;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
}
div.login-wrapper .guide-pop::after, div.sign-up-wrapper .guide-pop::after {
  content: "";
  position: absolute;
  bottom: -10px; /* 박스 바로 아래 */
  left: 50%; /* 중앙 맞춤 */
  transform: translateX(-50%);
  border-width: 10px 10px 0 10px; /* 위쪽 없는 삼각형 */
  border-style: solid;
  border-color: #6C757D transparent transparent transparent; /* 위쪽만 색상 */
}

/* sign up */
div.sign-up-wrapper {
  width: 600px;
  margin: 100px auto 200px auto;
}
div.sign-up-wrapper p.member-step1-tit {
  font-size: 40px;
  text-align: center;
  font-family: "Pretendard-SemiBold";
  padding-bottom: 60px;
  line-height: 47px;
}
div.sign-up-wrapper p.txt-mypage-modify {
  font-size: 24px;
  text-align: center;
  color: #6C757D;
}
div.sign-up-wrapper p.txt-mypage-modify span {
  color: #2EC4B6;
}
div.sign-up-wrapper div.agreement-wrapper {
  padding-top: 60px;
}
div.sign-up-wrapper div.agreement-wrapper ul li {
  font-size: 20px;
  margin-bottom: 25px;
}
div.sign-up-wrapper div.agreement-wrapper ul li label.all {
  color: #0D0D0D;
  font-family: "Pretendard-SemiBold";
}
div.sign-up-wrapper div.agreement-wrapper ul li a {
  font-size: 20px;
  color: #6C757D;
  text-decoration: underline;
}
div.sign-up-wrapper.step02 p.member-step1-tit {
  padding-bottom: 10px;
}
div.sign-up-wrapper.step02 div.setting-wrapper {
  padding: 60px 0 0 0;
}
div.sign-up-wrapper.step02 div.setting-wrapper div.area-1 {
  padding-bottom: 60px;
}
div.sign-up-wrapper.step02 div.setting-wrapper div.area-1 p.t-1 {
  font-size: 24px;
  font-family: "Pretendard-Medium";
  color: #0D0D0D;
  padding-bottom: 8px;
}
div.sign-up-wrapper.step02 div.setting-wrapper div.area-1 p.t-2 {
  font-size: 18px;
  font-family: "Pretendard-Medium";
  color: #A2A2A4;
}
div.sign-up-wrapper.step02 div.setting-wrapper div.area-1 div.inner {
  border-top: 1px solid #EAEAEA;
  padding: 30px 0;
}
div.sign-up-wrapper.step02 div.setting-wrapper div.area-1 div.inner.a {
  margin-top: 30px;
}
div.sign-up-wrapper.step02 div.setting-wrapper div.area-1 div.inner:last-child {
  border-bottom: 1px solid #EAEAEA;
}
div.sign-up-wrapper.step02 div.setting-wrapper div.area-1 div.inner p.inner-tit {
  font-size: 18px;
  color: #0D0D0D;
  font-family: "Pretendard-SemiBold";
  padding-bottom: 20px;
}
div.sign-up-wrapper.step02 div.setting-wrapper div.area-1 div.inner ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}
div.sign-up-wrapper.step02 div.setting-wrapper div.area-1 div.inner ul li {
  flex: 0 0 calc(33% - 5px); /* 3등분 (여백 고려해서) */
  background: #fff;
  padding: 7px 12px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 14px;
}
div.sign-up-wrapper.step02 div.setting-wrapper div.area-1 div.inner ul li:nth-child(3n-1) {
  margin: 0 10px 10px 10px;
}
div.sign-up-wrapper.step02 div.setting-wrapper div.area-1 div.inner ul li.bg {
  background: #DEF6F4;
}
div.sign-up-wrapper.step02 div.setting-wrapper div.area-1 div.inner ul li.rnd {
  border: 2px solid #DEF6F4;
  color: #6C757D;
}
div.sign-up-wrapper.step02 div.setting-wrapper div.area-1 div.select-area {
  padding-top: 30px;
}
div.sign-up-wrapper.step02 div.setting-wrapper div.area-1 div.select-area .both {
  width: 37% !important;
  margin-right: 20px;
}
div.sign-up-wrapper.step02 div.setting-wrapper div.area-1 div.select-area button.modal-button {
  width: 16%;
}
div.sign-up-wrapper.step02 div.setting-wrapper div.area-1 div.select-area div.selected-areas {
  padding-top: 10px;
  font-size: 14px;
}
div.sign-up-wrapper.step02 div.setting-wrapper div.area-1 div.select-area div.selected-areas ul li {
  padding-bottom: 8px;
}
div.sign-up-wrapper.step02 div.setting-wrapper div.area-1 div.select-area div.selected-areas ul li span {
  display: inline-block;
  width: 150px;
}
div.sign-up-wrapper.step02 div.setting-wrapper div.area-1 div.select-area div.selected-areas ul li a {
  color: #2EC4B6;
}
div.sign-up-wrapper.step03 p.member-step1-tit {
  padding-bottom: 10px;
}
div.sign-up-wrapper.step03 div.member-infos {
  padding: 60px 0 40px 0;
}
div.sign-up-wrapper.step03 div.member-infos ul li {
  padding-bottom: 20px;
}
div.sign-up-wrapper.step03 div.member-infos ul li span.tit {
  display: inline-block;
  width: 35%;
  font-size: 24px;
  color: #6C757D;
}
div.sign-up-wrapper.step03 div.member-infos ul li span.data {
  display: inline-block;
  width: 65%;
  font-size: 24px;
  color: #0D0D0D;
}
div.sign-up-wrapper.step03 div.btm button {
  margin-bottom: 20px;
}
div.sign-up-wrapper.step03 div.btm button:last-child {
  margin-bottom: 0;
}
div.sign-up-wrapper.auth-password span.count {
  position: absolute;
  right: 20px;
  top: 18px;
  color: #2EC4B6;
  font-size: 18px;
}
div.sign-up-wrapper.auth-password p.auth-txt {
  font-size: 18px;
  font-family: "Pretendard-Regular";
  color: #A2A2A4;
  padding-top: 10px;
}
div.sign-up-wrapper.auth-password div.auth-button {
  text-align: center;
}
div.sign-up-wrapper.auth-password div.auth-button button {
  margin-bottom: 15px;
}
div.sign-up-wrapper.auth-password div.auth-button a {
  color: #2EC4B6;
}
div.sign-up-wrapper.password-modify p.member-step1-tit {
  padding-bottom: 10px;
}
div.sign-up-wrapper.password-modify p.txt-mypage-modify {
  padding-bottom: 60px;
}

/* account disabled */
div.account-disabled-wrapper {
  width: 600px;
  margin: 200px auto 200px auto;
  text-align: center;
  padding-top: 185px;
  background: url("../img/icons/icon_under.svg") 50% 0% no-repeat;
}
div.account-disabled-wrapper p.txt-1 {
  font-family: "Pretendard-SemiBold";
  font-size: 24px;
  color: #0D0D0D;
  padding-bottom: 10px;
}
div.account-disabled-wrapper p.txt-2 {
  font-size: 18px;
  color: #6C757D;
}

/* 서비스 이용 약관 */
div.legal-wrapper div.title-area {
  border-bottom: 1px solid #C6CAD3;
  padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
  div.legal-wrapper div.title-area {
    padding-bottom: 15px;
  }
}
div.legal-wrapper div.title-area span.title {
  font-size: 40px;
  font-family: "Pretendard-SemiBold";
  color: #0D0D0D;
}
@media screen and (max-width: 768px) {
  div.legal-wrapper div.title-area span.title {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  div.legal-wrapper div.title-area div.legal-date {
    width: 100%;
  }
}
div.legal-wrapper div.title-area div.legal-date span.t {
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  div.legal-wrapper div.title-area div.legal-date span.t {
    display: block;
    padding: 5px 0 10px 0;
  }
}
div.legal-wrapper div.text-area {
  margin-top: 60px;
  height: 800px;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 18px;
  color: #6C757D;
}
@media screen and (max-width: 768px) {
  div.legal-wrapper div.text-area {
    margin-top: 30px;
    font-size: 16px;
  }
}

/* global common */
.tooltip {
  margin-top: -10px !important;
}/*# sourceMappingURL=style.css.map */