/* modal default */
.modal-content {
	border-radius: 20px;
	border: 0;
	box-shadow: 0 20px 50px rgba(0,0,0,0.1);
}

.modal-header {
	border-bottom: 0;

	&.bordered {
		border-bottom: 1px solid #EAEAEA;
		padding: 15px 25px;
	}
	h5 {
		font-size: 22px;
		font-family: 'Pretendard-SemiBold';
	}
	a.modal-close-button {
		position: absolute;
		right: 30px;
		top: 18px;
		width: 20px; height: 20px;
		background: url('../img/icons/icon_close.svg') 50% 50% no-repeat;
		text-indent: -9999px;
	}
}
.modal-body {

	p.only-text-center {
		text-align: center;
		color: $title-black;
		font-size: 18px;
		padding: 5px 0 15px 0;
	}
}
.modal-footer {
	display: block;
	padding: 30px;
	border-top: 1px solid #EAEAEA;

	div.two-buttons {

		a {
			width: 48%;
		}
	}
}

.modal-button {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	padding: 18px 0;
	border-radius: 8px;

	&.green {
		background: $main-color;
	}
	&.gray {
		background: #6C757D;
	}
}

div.terms-content {
	width: 600px;
	height: 520px;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 20px auto 20px auto;
}

/* modal size */
.w-480 {
	width: 480px !important;
}
.w-660 {
	width: 660px !important;
	max-width: 660px !important;
}