/* modal default */
.modal-content {
	border-radius: 20px;
	border: 0;
	box-shadow: 0 20px 50px rgba(0,0,0,0.1);
}

.modal-header {
	border-bottom: 0;

	&.bordered {
		border-bottom: 1px solid #EAEAEA;
		padding: 15px 25px;
	}
	h5 {
		font-size: 22px;
		font-family: 'Pretendard-SemiBold';
	}
	a.modal-close-button {
		position: absolute;
		right: 30px;
		top: 20px;
		width: 20px; height: 20px;
		background: url('../img/icons/icon_close.svg') 50% 50% no-repeat;
		text-indent: -9999px;
	}
}
.modal-body {
	padding: 30px;

	p.only-text-center {
		text-align: center;
		color: $title-black;
		font-size: 18px;
		padding: 5px 0 15px 0;
	}
}
.modal-footer {
	display: block;
	padding: 30px;
	border-top: 1px solid #EAEAEA;

	div.two-buttons {

		a {
			width: 48%;
		}
	}
}

.modal-button {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	padding: 17px 0;
	border-radius: 8px;

	&.green {
		background: $main-color;
	}
	&.gray {
		background: #6C757D;
	}
}

div.terms-content {
	width: 600px;
	height: 520px;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 20px auto 20px auto;
}

/* 툴팁 박스 */
.tooltip-inner {
  background-color: #fff !important;   /* 배경 흰색 */
  color: $title-black !important;              /* 글자색 */
  border: 1px solid #fff !important;   /* 흰색 테두리 */
  box-shadow: 0 15px 15px rgba(0,0,0,0.15); /* 그림자 */
  padding: 6px 14px;
  border-radius: 17px;
  opacity: 1;
  font-size: 14px;
}

/* 툴팁 화살표 (방향별) */
.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
  border-top-color: #fff !important;
}

.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before {
  border-bottom-color: #fff !important;
}

.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before {
  border-left-color: #fff !important;
}

.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before {
  border-right-color: #fff !important;
}

/* checkbox */
/* 기본 체크박스 숨기기 */
.custom-checkbox {
  display: none;
}

/* 체크박스 + 라벨 묶기 */
.custom-label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

/* 체크박스 대신 아이콘 표시 */
.custom-label::before {
  content: "";
  display: inline-block;
  width: 26px;  /* 아이콘 크기 */
  height: 26px;
  margin-right: 10px;
  background: url("../img/icons/icon_check.svg") no-repeat center/cover;
  border-radius: 4px;
}

/* 체크 상태일 때 이미지 변경 */
.custom-checkbox:checked + .custom-label::before {
  background: url("../img/icons/icon_checked.svg") no-repeat center/cover;
}


/* modal size */
.w-480 {
	width: 480px !important;
}
.w-660 {
	width: 660px !important;
	max-width: 660px !important;
}
.w-100-per {
	width: 100% !important;
}