div.host-visual {
	position: relative;
	width: 100%;
	height: 100svh;
	background: url('../img/sample/host_visual.png') 0 0 no-repeat;
	background-size: cover;

	div.text-area {
		position: absolute;
		color: $title-black;

		p.t-1 {
			font-size: 60px;
			padding-bottom: 7px;
			line-height: 60px;

			@media screen and (max-width: 767px) {
				font-size: 30px;
				padding-bottom: 0px;
				line-height: 34px;
			}
		}
		p.t-2 {
			font-family:'Pretendard-SemiBold';
			font-size: 60px;
			line-height: 60px;
			padding: 15px 0;

			@media screen and (max-width: 767px) {
				font-size: 30px;
				padding: 7px 0;
				line-height: 34px;

				span {
					display: block;
				}
			}
		}
		p.t-3 {
			font-size: 30px;
			color: #A2A2A4;
			padding-bottom: 40px;

			@media screen and (max-width: 767px) {
				font-size: 16px;
				padding-bottom: 15px;
				line-height: 20px;

				span {
					display: block;
				}
			}
		}
		a {
			display: inline-block;
			color: $title-black;
			font-family:'Pretendard-SemiBold';
			font-size: 24px;
			background: url('../img/icons/icon_next.svg') 100% 50% no-repeat;
			padding-right: 20px;

			@media screen and (max-width: 767px) {
				font-size: 16px;
			}
		}

		@media screen and (min-width: 1920px) { 
			left: 50%; top: 50%;
			transform: translate(-90%, -50%);
		}
		@media screen and (min-width: 1600px) and (max-width: 1919px) { 
			left: 112px; top: 50%;
			transform: translate(0%, -50%);
		}
		@media screen and (min-width: 1280px) and (max-width: 1599px) { 
			left: 100px; top: 50%;
			transform: translate(0%, -50%);
		}
		@media screen and (min-width: 1024px) and (max-width: 1279px) { 
			left: 42px; top: 50%;
			transform: translate(0%, -50%);
		}
		@media screen and (min-width: 768px) and (max-width: 1023px) { 
			left: 32px; top: 50%;
			transform: translate(0%, -50%);
		}
		@media screen and (min-width: 320px) and (max-width: 767px) {
			left: 20px; top: 40%;
			transform: translate(0%, -50%);
		}
	}
}

div.host-main-wrapper {

	/*잇플레이스로 누구나 호스트가 될 수 있어요.*/
	div.host-anyone {
		/*padding: 100px 0 100px 0;*/

		@media screen and (max-width: 767px) {
			padding: 0px 0 100px 0;
		}

		p.h-tit {
			font-size: 60px;
			font-family:'Pretendard-SemiBold';
			text-align: center;
			padding-bottom: 60px;

			@media screen and (max-width: 767px) {
				font-size: 30px;
				width: 220px;
				word-break: keep-all;
				line-height: 34px;
				margin: 0 auto;
			}
		}
		ul.anyone-card {

			li {
				float: left;
				width: calc(25.4% - 24px);
				height: 548px;
				margin-right: 24px;
				padding-bottom: 50px;
				border-radius: 14px;
				overflow: hidden;

				&:nth-child(4n) {
					margin-right: 0;
				}

				@media screen and (max-width: 767px) {
					float: none;
					width: 100%;
					margin-right: 0px;
					padding-bottom: 30px;
					margin-bottom: 20px;
				}

				&:nth-child(1) {
					background: url('../img/sample/img_host_1.png') 0 0 no-repeat;
					background-size: cover;
				}
				&:nth-child(2) {
					background: url('../img/sample/img_host_2.png') 0 0 no-repeat;
					background-size: cover;
				}
				&:nth-child(3) {
					background: url('../img/sample/img_host_3.png') 0 0 no-repeat;
					background-size: cover;
				}
				&:nth-child(4) {
					background: url('../img/sample/img_host_4.png') 0 0 no-repeat;
					background-size: cover;
				}

				p.t-1 {
					font-family:'Pretendard-SemiBold';
					font-size: 30px;
					color: #fff;
					padding-bottom: 7px;
					margin: 30px 30px 0 30px;

					@media screen and (max-width: 767px) {
						font-size: 20px;
					}
				}
				p.t-2 {
					font-size: 16px;
					color: #fff;
					margin: 0px 30px 0 30px;
					line-height: 20px;
					word-break: keep-all;

					@media screen and (max-width: 767px) {
						font-size: 16px;
					}
				}
			}
		}	
	}

	/*이런 질문 많아요!*/
	div.host-qna {

		@media screen and (max-width: 767px) {
			position: relative;
			padding-bottom: 160px;
		}

		p.s-tit {
			color: $title-black;
			padding-bottom: 40px;
			margin-bottom: 60px;
			border-bottom: 1px solid #C6CAD3;

			@media screen and (max-width: 767px) {
				padding-bottom: 30px;
				margin-bottom: 30px;
			}

			span {
				float: left;
				font-family:'Pretendard-SemiBold';
				font-size: 60px;

				@media screen and (max-width: 767px) {
					font-size: 30px;
				}
			}
			a {
				float: right;
				color: $title-black;
				font-size: 18px;
				background: url('../img/icons/icon_next.svg') 100% 50% no-repeat;
				padding-right: 20px;
				margin-top: 50px;

				@media screen and (max-width: 767px) {
					position: absolute;
					float: none;
					bottom: 100px;
					left: 50%;
					transform: translateX(-50%);
					margin-top: 0;
					font-size: 16px;
				}
			}
		}
		ul.qna-list {

			li {
				padding-bottom: 60px;

				@media screen and (max-width: 767px) {
					padding-bottom: 30px;
				}
				&:last-child {
					padding-bottom: 0;
				}

				p.question {
					font-size: 24px;
					font-family:'Pretendard-SemiBold';
					color: $title-black;
					padding-bottom: 15px;
					background: url('../img/icons/icon_q.svg') 0% 8px no-repeat;
					padding-left: 25px;

					@media screen and (max-width: 767px) {
						font-size: 20px;
						line-height: 22px;
						padding-bottom: 12px;
						background: url('../img/icons/icon_q.svg') 0% 2px no-repeat;
					}
				}
				p.answer {
					font-size: 18px;
					color: #62717E;
					background: url('../img/icons/icon_a.svg') 0% 5px no-repeat;
					padding-left: 25px;

					@media screen and (max-width: 767px) {
						font-size: 16px;
						line-height: 20px;
						background: url('../img/icons/icon_a.svg') 0% 3px no-repeat;
					}
				}
			}
		}
	}
}

div.host-it-area {

	div.swiper {
		height: 725px;

		@media screen and (max-width: 767px) {
			height: 100vh;
		}

		div.swiper-slide {
			position: relative;

			div.slide-gradient {
				position: absolute;
				width: 100%; 
				height: 100%;
				background: rgba(0,0,0,0);
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			div.caption {
				height: 100%;
			}
			div.text-area {
				position: absolute;
				z-index: 10;
				left: 50%;
				top: 50%;
				color: #fff;
				transform: translate(-50%, -50%);

				@media screen and (max-width: 767px) {
					font-size: 30px;
					width: calc(100% - 40px);
				}

				@media screen and (min-width: 1920px) { 
					left: 50%; top: 50%;
					transform: translate(-86%, -50%);
				}
				@media screen and (min-width: 1600px) and (max-width: 1919px) { 
					left: 112px; top: 50%;
					transform: translate(0%, -50%);
				}
				@media screen and (min-width: 1280px) and (max-width: 1599px) { 
					left: 100px; top: 50%;
					transform: translate(0%, -50%);
				}
				@media screen and (min-width: 1024px) and (max-width: 1279px) { 
					left: 42px; top: 50%;
					transform: translate(0%, -50%);
				}
				@media screen and (min-width: 768px) and (max-width: 1023px) { 
					left: 32px; top: 50%;
					transform: translate(0%, -50%);
				}
				@media screen and (min-width: 320px) and (max-width: 767px) {
					left: 20px; top: 25%;
					transform: translate(0%, -50%);
				}

				p.t-1 {
					font-size: 60px;
					font-family:'Pretendard-SemiBold';

					@media screen and (max-width: 767px) {
						font-size: 30px;
						line-height: 34px;

						span {
							display: block;
						}
					}
				}
				p.t-2 {
					font-size: 24px;

					@media screen and (max-width: 767px) {
						font-size: 16px;
						line-height: 20px;
						margin-top: 10px;

						span {
							display: block;
						}
					}
				}
				a {
					display: inline-block;
					width: 220px;
					margin-top: 70px;

					@media screen and (max-width: 767px) {
						width: 100%;
						position: absolute;
						margin-top: 0px;
						top: 60vh;
					}
				}
			}
		}
	}
}

div.place-menagement-tabs {
	padding-top: 50px;
	border-bottom: 1px solid #C6CAD3;

	@media screen and (max-width: 767px) {
		position: relative;
		padding-top: 95px;
		border-bottom: 0;

		&.temporary {
			padding-top: 195px;
		}
		.bootstrap-select>select {
			left: 0;
		}
	}

	div.tab-btn {
		float: left;

		@media screen and (max-width: 767px) {
			float: none;
			border-bottom: 1px solid #C6CAD3;
		}

		a {
			display: inline-block;
			width: 220px;
			border-bottom: 3px solid #fff;
			line-height: 90px;
			color: #A2A2A4;
			font-size: 22px;
			font-family:'Pretendard-SemiBold';
			text-align: center;

			@media screen and (max-width: 767px) {
				width: 50%;
				font-size: 18px;
				line-height: 62px;
			}

			&.on {
				color: $main-color;
				border-bottom: 3px solid $main-color;
			}
		}
	}
	div.status {
		float: right;
		padding-top: 15px;

		@media screen and (max-width: 767px) {
			float: none;
			position: absolute;
			padding: 0px 0 0px 0;
			border-bottom: 0;
			width: 100%;
			top: 25px;
		}

		a.place-reg {
			float: right;
			width: 220px;
			background: $main-color url('../img/icons/icon_plus_white_long.svg') 48px 50% no-repeat;
			padding: 16px 0 16px 20px;
			margin-left: 24px;

			@media screen and (max-width: 767px) {
				float: none;
				width: 100%;
				background: $main-color url('../img/icons/icon_plus_white_long.svg') calc(50% - 50px) 50% no-repeat;
				margin-left: 0px;
			}
		}
		div.stop-temporary {
			float: left;

			@media screen and (max-width: 768px) {
				float: none;
				position: absolute;
				width: 100%;
				padding-bottom: 15px;
			}

			span.txt {
				float: left;
				font-size: 18px;
				color: #62717E;
				margin: 14px 24px 0 0;

				@media screen and (max-width: 768px) {
					float: none;
					display: block;
					font-size: 16px;
					margin: 70px 0px 5px 0;
				}
			}
			div.selects {
				float: right;
				width: 155px;

				@media screen and (max-width: 768px) {
					float: none;
					display: block;
					width: 100%;
				}
			}
		}
	}
}

/* 호스트 등록 신청 */
div.host-info-wrapper {
	width: 600px;
	margin: 0px auto 0px auto;

	@media screen and (max-width: 767px) {
		width: 100%;
		margin: 0px auto 0px auto;
	}

	p.tit {
		font-size: 40px;
		font-family:'Pretendard-SemiBold';
		color: $title-black;
		line-height: 48px;
		padding-bottom: 25px;

		@media screen and (max-width: 767px) {
			font-size: 20px;
			line-height: 24px;
			padding-bottom: 15px;
		}
	}
	div.ready-item {
		background: #F7F7F7;
		border-radius: 8px;
		font-size: 18px;
		color: $title-black;
		padding: 20px 25px;

		@media screen and (max-width: 767px) {
			font-size: 16px;
			padding: 20px 20px;
		}

		ul {

			li {
				padding-left: 15px;
				background: url('../img/icons/bullet_black.svg') 0% 50% no-repeat;
			}
		}
	}
	div.input-section {
		padding-top: 55px;

		@media screen and (max-width: 767px) {
			padding-top: 20px;
		}

		div.both-tit {

			p.s-tit {
				float: left;
			}
			span.cnt {
				float: right;
				color: #A2A2A4;
				font-size: 18px;

				@media screen and (max-width: 767px) {
					font-size: 16px;
					display: none;
				}

				&.lineheight {
					margin-top: -7px;
				}
			}
		}
		p.s-tit {
			font-size: 18px;
			font-family:'Pretendard-SemiBold';
			padding-bottom: 10px;

			@media screen and (max-width: 767px) {
				font-size: 16px;
				padding-bottom: 7px;
			}

			span {
				color: $main-color;
			}
		}
		p.s-para {
			font-size: 14px;
			color: #A2A2A4;
			line-height: 18px;

			span.black {
				color: $title-black;
			}
		}
		p.s-tit-1 {
			font-size: 14px;
		}
		ul.s-tit-2 {
			margin: 15px 0 60px 10px;

			@media screen and (max-width: 768px) {
				margin: 15px 0 30px 10px;
			}

			li {
				font-size: 14px;
				padding-left: 15px;
				background: url('../img/icons/bullet_black.svg') 0% 50% no-repeat;
				line-height: 16px;
			}
		}
		input.login-inputs {
			background: #fff;
			border: 1px solid #C6CAD3;
			outline: none;
			font-size: 18px;
			color: $title-black;
			text-align: left;
			padding-left: 20px;
			font-weight: 500;

			@media screen and (max-width: 768px) {
				font-size: 16px;
				padding-left: 15px;
			}

			&::placeholder {
				color: #A2A2A4;
			}
		}
		p.s-guide {
			font-size: 14px;
			color: #A2A2A4;
			padding-top: 10px;

			@media screen and (max-width: 768px) {
				line-height: 18px;
				padding-top: 7px;
			}
		}
		div.input-wrap {

			input[type="text"] {
				float: left;
				width: 70%;

				&.place-width {
					width: 94%;

					@media screen and (max-width: 768px) {
						width: calc(100% - 40px);
					}
				}
			}
			button {
				float: right;
				width: calc(30% - 20px);

				@media screen and (max-width: 768px) {
					width: calc(30% - 8px);
				}
			}
			span.sup {
				float: left;
				margin-left: 10px;
				font-size: 18px;
				font-family:'Pretendard-SemiBold';
				margin-top: 15px;
			}
		}
		div.bank {
			display: inline-block;
			width: calc(35% - 20px);
			vertical-align: top;

			@media screen and (max-width: 768px) {
				display: block;
				width: 100%;
			}

			.bootstrap-select > .dropdown-toggle {
				height: 61px;
			}
		}
		input.number {
			width: 40%;
			margin: 0 20px;

			@media screen and (max-width: 768px) {
				display: block;
				width: 100%;
				margin: 8px 0px;
			}
		}
		input.name {
			width: calc(25% - 20px);

			@media screen and (max-width: 768px) {
				display: block;
				width: 100%;
			}
		}
		input.address {
			margin-top: 10px;
		}
		div.added-file {
			background: #F7F7F7;
			border-radius: 8px;
			font-size: 18px;
			color: $title-black;
			padding: 20px 25px;
			margin-top: 20px;

			@media screen and (max-width: 768px) {
				font-size: 15px;
				color: $title-black;
				padding: 20px 20px;
			}
		}
		.bootstrap-select > .dropdown-toggle {
			border: 1px solid #C6CAD3;
		}

		div.selected-pictures {
			padding: 5px 0 0 0;

			div.picture {
				float: left;
				position: relative;
				width: 83px;
				height: 83px;
				border-radius: 8px;
				overflow: hidden;
				margin: 20px 20px 0 0;

				@media screen and (max-width: 767px) {
					margin: 10px 10px 0 0;
					width: 72px;
					height: 72px;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				a.remove-pic {
					position: absolute;
					width: 20px;
					height: 20px;
					background: url('../img/icons/icon_picture_remove.svg') 0 0 no-repeat;
					text-indent: -9999px;
					right: 5px;
					top: 5px;
				}

				&:nth-child(6n) {
					margin: 20px 0px 0 0;

					@media screen and (max-width: 767px) {
						margin: 10px 10px 0 0;
					}
				}
				&.addbtn {

					a {
						display: inline-block;
						width: 100%;
						height: 100%;
						background: #EAEAEA url('../img/icons/icon_cross_big.svg') 50% 30% no-repeat;
						color: $title-black;
						font-size: 14px;
						padding-top: 50px;
						text-align: center;
					}
				}
			}
		}
		textarea {
			border: 1px solid #C6CAD3;
			border-radius: 8px;
			width: 100%;
			padding: 15px 20px;
			margin-top: 10px;

			@media screen and (max-width: 767px) {
				padding: 10px 10px;
			}

			&::placeholder {
				color: #A2A2A4;
			}

			&.intro-textarea {

				@media screen and (max-width: 767px) {
					height: 200px;
				}
			}
		}

		div.parking-wrap {
			padding-top: 12px;

			div.parking {
				float: left;

				@media screen and (max-width: 767px) {
					float: none;
				}
				
				&:nth-child(1) {
					width: 25%;
					padding-top: 20px;

					@media screen and (max-width: 767px) {
						width: 100%;
					}
				}
				&:nth-child(2) {
					width: 41%;

					@media screen and (max-width: 767px) {
						width: 100%;
						margin: 0 0 10px 0;
					}
				}
				&:nth-child(3) {
					width: 34%;

					@media screen and (max-width: 767px) {
						width: 100%;
					}
				}

				label {
					font-size: 18px;
					color: #62717E;

					@media screen and (max-width: 767px) {
						font-size: 16px;
					}
				}
				div.check-parking {
					float: left;
					width: 80px;
					padding-top: 20px;
				}
				div.count-parking {
					float: left;
					position: relative;
					width: 120px;

					@media screen and (max-width: 767px) {
						float: right;
						width: 50%;
					}

					span {
						position: absolute;
						top: 16px;
						right: 20px;
						font-size:18px;
						color: $title-black;

						@media screen and (max-width: 767px) {
							font-size: 16px;
						}
					}
				}
			}
		}
		div.manager-wrap {
			padding: 25px 0 13px 0;

			div.manager-l {
				float: left;

				@media screen and (max-width: 767px) {
					float: none;
					display: block;
				}
			}
			div.manager-r {
				float: right;

				@media screen and (max-width: 767px) {
					float: none;
					display: block;
					padding-top: 15px;
				}
			}
			label {
				font-size: 18px;
				color: #62717E;

				@media screen and (max-width: 767px) {
					font-size: 16px;
				}
			}
		}
		div.manager-wrapper {
			display: none;
		}
		div.use-info {
			border-top: 1px solid #EAEAEA;
			border-bottom: 1px solid #EAEAEA;
			padding: 20px 0 10px 0;
			font-size: 18px;
			padding-left: 35px;
			background: url('../img/icons/icon_warnning.svg') 0px 20px no-repeat;

			@media screen and (max-width: 767px) {
				font-size: 16px;
			}
		}
		div.day-select {
			border-top: 1px solid #EAEAEA;
			border-bottom: 1px solid #EAEAEA;
			padding: 20px 0 20px 0;
			font-size: 18px;

			ul {

				@media screen and (max-width: 767px) {
					display: flex;
					justify-content: center;
					gap: 8px;
				}

				li {
					float: left;

					@media screen and (max-width: 767px) {
						float: none;
					}

					&:not(:first-child):not(:last-child) {
						margin: 0 12px;

						@media screen and (max-width: 767px) {
							margin: 0 0px;
						}
					}
					&:first-child {
						margin-right: 12px;

						@media screen and (max-width: 767px) {
							margin-right: 0px;
						}
					}
					&:last-child {
						margin-left: 12px;

						@media screen and (max-width: 767px) {
							margin-left: 0px;
						}
					}

					a {
						color: #62717E;
						font-size: 18px;
						display: block;
						width: 64px;
						height: 64px;
						border: 1px solid #EAEAEA;
						border-radius: 8px;
						text-align: center;
						line-height: 60px;

						@media screen and (max-width: 767px) {

							font-size: 16px;
							width: 38px;
							height: 38px;
							line-height: 36px;
						}

						&.on {
							color: $main-color;
							border: 1px solid $main-color;
						}
					}
				}
			}
		}
		div.use-confirm {

			table {
				width: 90%;
				margin: 10px 0 0px 0px;

				@media screen and (max-width: 767px) {
					width: 100%;
				}

				th {
					width: 30%;
					font-size: 18px;
					color: #62717E;
					padding: 10px 0;

					@media screen and (max-width: 767px) {
						font-size: 16px;
					}
				}
				td {
					width: 70%;
					font-family:'Pretendard-SemiBold';
					font-size: 18px;
					color: $title-black;

					@media screen and (max-width: 767px) {
						font-size: 16px;
						text-align: right;
					}
				}
			}
		}
		p.manager-confirm {
			padding: 25px 0;

			@media screen and (max-width: 767px) {
				padding: 12px 0 25px 0;
			}

			label {
				font-size: 18px;
				color: $title-black;

				@media screen and (max-width: 767px) {
					font-size: 16px;
				}
			}

			&.holiday {
				text-align: right;

				@media screen and (max-width: 767px) {
					text-align: left;
				}
			}
		}

		/* step 3 */
		div.do-time {
			text-align: right;
			padding-top: 20px;
			font-size: 18px;
			color: $title-black;

			@media screen and (max-width: 767px) {
				text-align: left;
				padding-top: 10px;
				font-size: 16px;
			}
		}
	}
	a.host-register-button {
		display: inline-block;

		&.go-next {
			margin-top: 60px;

			@media screen and (max-width: 767px) {
				margin-top: 30px;
			}
		}
	}

	/* 공간등록 progress */
	div.register-progress {

		@media screen and (max-width: 767px) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
		}

		div.r-wrapper {
			float: left;
			width: 100px;

			@media screen and (max-width: 767px) {
				float: none;
				width: 70px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}

			div.round {
				height: 100px;
				font-size: 40px;
				font-family:'Pretendard-SemiBold';
				color: #C6CAD3;
				border: 6px solid #C6CAD3;
				border-radius: 50%;
				text-align: center;
				line-height: 90px;

				@media screen and (max-width: 767px) {
					width: 70px;
					height: 70px;
					line-height: 60px;
					font-size: 20px;
				}
			}
			span {
				display: block;
				font-size: 18px;
				font-family:'Pretendard-SemiBold';
				text-align: center;
				color: #62717E;
				padding-top: 10px;

				@media screen and (max-width: 767px) {
					font-size: 16px;
				}
			}
			&.on {
				div.round {
					color: $main-color;
					border: 6px solid $main-color;
				}
				span {
					color: $main-color;
				}
			}
			&.completed {
				div.round {
					color: $main-color;
					border: 6px solid $main-color;
					background: $main-color url('../img/icons/icon_check_white_big.svg') 50% 50% no-repeat;
				}
				span {
					color: $main-color;
				}
			}
		}
		div.line {
			float: left;
			margin: 50px 10px 0 10px;
			width: calc(100% - 470px);
			border-top: 2px solid #DEF6F4;

			@media screen and (max-width: 767px) {
				float: none;
				flex: 1;
				border-top: 1px solid #DEF6F4;
				margin: -10px 5px 0 5px;
			}

			&.completed {
				border-top: 2px solid $main-color;

				@media screen and (max-width: 767px) {
					border-top: 1px solid $main-color;
				}
			}
		}
	}
	a.go-back-btn {
		display: block;
		text-align: center;
		font-size: 24px;
		color: $title-black;
		margin-top: 60px;

		@media screen and (max-width: 767px) {
			font-size: 16px;
			margin-top: 30px;
		}

		img {
			vertical-align: middle;
		}
		span {
			vertical-align: middle;
			margin-left: 10px;
		}
	}

	/* semi component only */
	div.two-objects {
		padding-top: 30px;

		@media screen and (max-width: 767px) {
			padding-top: 0px;
		}

		a {
			width: calc(50% - 10px); 

			&:nth-child(1) {
				float: left;
			}
			&:nth-child(2) {
				float: right;
			}
		}
	}
	div.both-objects {
		
		@media screen and (max-width: 767px) {
			padding-top: 0px;
		}

		div.object {
			width: calc(50% - 10px); 

			@media screen and (max-width: 767px) {
				width: 100%; 
			}

			&:nth-child(1) {
				float: left;

				@media screen and (max-width: 767px) {
					float: none;
				}
			}
			&:nth-child(2) {
				float: right;

				@media screen and (max-width: 767px) {
					float: none;
					margin-top: 10px;
				}
			}

			&.f {
				font-size: 18px;
				color: #62717E;

				@media screen and (max-width: 767px) {
					font-size: 16px;
				}
			}
		}

		&.contain-bg {
			padding: 30px;
			background: #F7F7F7;
			border-radius: 14px;

			&.mg {
				margin-top: 20px;

				@media screen and (max-width: 767px) {
					margin-top: 10px;
				}
			}
			div.big {
				margin-top: 15px;

				@media screen and (max-width: 767px) {
					margin-top: 0;
				}
			}
		}
	}
	div.three-objects {
		padding: 5px 0 15px 0;

		@media screen and (max-width: 767px) {
			padding: 5px 0 0px 0;
		}

		div.object {
			width: 33.3%; 

			@media screen and (max-width: 767px) {
				display: none;
			}

			&:nth-child(1) {
				float: left;
			}
			&:nth-child(2) {
				float: left;
				text-align: center;
			}
			&:nth-child(3) {
				float: right;
				text-align: right;
			}
		}
	}

	div.check-in-advance {
		display: none;

		div.pay-to-time {
			display: none;
		}
	}

	div.holiday-select-option {
		display: none;
	}

	div.user-make-cnt {
		float: right;
		width: 80%;
		height: 28px;

		@media screen and (max-width: 767px) {
			float: none;
			width: 100%;
		}

		a {
			display: inline-block;
			width: 28px;
			height: 28px;
			
			&.minus {
				background: url('../img/icons/icon_make_minus.svg') 0 0 no-repeat;
			}
			&.plus {
				background: url('../img/icons/icon_make_plus.svg') 0 0 no-repeat;
			}
		}
		span.cnt {
			display: inline-block;
			width: calc(100% - 56px);
			font-size: 20px;
			font-family:'Pretendard-SemiBold';
			text-align: center;
			vertical-align: top;

			@media screen and (max-width: 767px) {
				font-size: 16px;
			}
		}
	}
	div.user-make-input {
		float: right;
		width: 100%;
		text-align: right;

		@media screen and (max-width: 767px) {
			float: none;
			text-align: left;
		}
		
		input {
			width: 85%;

			@media screen and (max-width: 767px) {
				width: calc(100% - 30px);
			}
		}
		span {
			font-size: 20px;
			font-family:'Pretendard-SemiBold';
			margin-left: 10px;
		}
	}
}


/* 예약/결제 내역 */
div.place-management-list {
	padding: 100px 0 0 0;

	@media screen and (max-width: 767px) {
		padding: 20px 0 50px 0;
	}

	ul {

		li {
			padding-bottom: 100px;

			@media screen and (max-width: 767px) {
				padding-top: 30px;
				padding-bottom: 30px;
				border-bottom: 1px solid #C6CAD3;
			}

			&:last-child {
				padding-bottom: 0;
			}

			div.f {
				position: relative;
				float: left;
				width: 342px;
				height: 342px;
				border-radius: 20px;
				overflow: hidden;

				@media screen and (max-width: 767px) {
					width: 152px;
					height: 152px;
				}

				p.tags {
					position: absolute;
					left: 20px;
					top: 25px;
					
					@media screen and (max-width: 767px) {
						left: 10px;
						top: 10px;
					}

					span {
						font-size: 14px;
						color: $title-black;
						border: 1px solid #F5F5F5;
						padding: 10px 12px;
						margin-right: 5px;
						background: #fff;
						border-radius: 20px;

						@media screen and (max-width: 767px) {
							font-size: 12px;
							padding: 5px 8px;
						}
					}
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			div.s {
				position: relative;
				float: left;
				width: calc(100% - 366px);
				margin-left: 24px;

				@media screen and (max-width: 767px) {
					width: calc(100% - 176px);
					height: 152px;
				}

				div.up {
					position: relative;
					
					a.remove-item {
						position: absolute;
						width: 20px;
						height: 20px;
						background: url('../img/icons/icon_close.svg') 0 0 no-repeat;
						right: 0;
						text-indent: -9999px;
					}
					p.t1 {
						color: #62717E;
						font-size: 18px;
						font-family:'Pretendard-SemiBold';

						@media screen and (max-width: 767px) {
							font-size: 16px;
							padding-top: 15px;
						}
					}
					p.t2 {
						color: $title-black;
						font-size: 24px;
						font-family:'Pretendard-SemiBold';
						padding: 5px 0 30px 0;

						@media screen and (max-width: 767px) {
							font-size: 16px;
						}
					}
				}
			}

			div.down {
				float: left; 
				width: calc(100% - 366px);
				margin-left: 24px;

				@media screen and (max-width: 767px) {
					width: 100%;
					margin-left: 0;
				}

				div.f-l {
					float: left;
					position: relative;
					width: 55%;
					padding-right: 24px;
					border-right: 1px solid #C6CAD3;

					@media screen and (max-width: 767px) {
						float: none;
						width: 100%;
						padding-right: 0;
						border-right: 0;
					}

					table {
						width: 100%; 

						@media screen and (max-width: 767px) {
							margin-top: 20px;
						}

						th {
							color: #62717E;
							font-size: 18px;
							width: 30%;
							padding-bottom: 8px;

							@media screen and (max-width: 767px) {
								font-size: 16px;
								padding-bottom: 4px;
							}
						}
						td {
							font-size: 18px;
							font-family:'Pretendard-SemiBold';
							color: $title-black;
							width: 70%;
							padding-bottom: 8px;

							@media screen and (max-width: 767px) {
								font-size: 16px;
								padding-bottom: 4px;
							}
						}
					}
					div.app-date {
						margin-top: 145px;

						@media screen and (max-width: 767px) {
							margin-top: 10px;
						}

						span.a {
							display: inline-block; 
							color: #62717E;
							font-size: 18px;
							font-family:'Pretendard-SemiBold';
							width: 29%;

							@media screen and (max-width: 767px) {
								font-size: 16px;
							}
						}
						span.b {
							display: inline-block; 
							color: #62717E;
							font-size: 18px;
							width: 31%;
						}
						a {
							display: inline-block;
							width: 38%;
							font-family:'Pretendard-SemiBold';

							@media screen and (max-width: 767px) {
								display: block;
								width: 100%;
								margin-top: 15px;
							}
						}
					}
				}
				div.f-r {
					float: right; 
					width: 45%;
					padding-left: 24px;

					@media screen and (max-width: 767px) {
						float: none;
						width: 100%;
						padding-left: 0;
					}

					div.money {

						@media screen and (max-width: 767px) {
							padding: 20px 0;
						}

						span.a {
							display: block;
							font-size: 18px;
							font-family:'Pretendard-SemiBold';
							color: $title-black;

							@media screen and (max-width: 767px) {
								float: left;
								font-size: 16px;
								margin-top: 10px;
							}
						}
						span.b {
							display: block;
							font-size: 30px;
							font-family:'Pretendard-SemiBold';
							color: $title-black;

							@media screen and (max-width: 767px) {
								float: right;
							}
						}
					}

					div.sta {
						background: #F7F7F7 url('../img/icons/icon_warnning.svg') 20px 15px no-repeat;;
						border-radius: 8px;
						padding: 17px 25px 17px 55px;
						color: #A2A2A4;
						font-size: 18px;
						min-height: 88px;

						@media screen and (max-width: 767px) {
							font-size: 16px;
							line-height: 20px;
							min-height: auto;
						}
						
						span {
							color: $title-black;
						}
						a {
							color: $main-color;
							text-decoration: underline;
						}
					}
					div.both-buttons {
						padding-top: 20px;
					}
					div.single-button {
						padding-top: 20px;
					}
				}
			}

			span.status {
				position: absolute;
				display: inline-block;
				font-size: 14px;
				padding: 6px 12px;
				border-radius: 20px;
				right: 0;
				top: 95px;

				@media screen and (max-width: 767px) {
					position: static;
					font-size: 12px;
					padding: 3px 8px;
					margin-top: 5px;
				}
				
				&.a-1 {
					color: $main-color;
					border: 1px solid $main-color;
				}
				&.a-2 {
					color: #FF9100;
					border: 1px solid #FF9100;
				}
				&.a-3 {
					color: #54A4EC;
					border: 1px solid #54A4EC;
				}
				&.a-4 {
					color: #A2A2A4;
					border: 1px solid #A2A2A4;
				}
				&.a-5 {
					color: #E75B3C;
					border: 1px solid #E75B3C;
				}
			}
		}
	}
	a.more {
		display: block;
		color: $title-black;
		font-size: 24px;
		text-align: center;
		margin-top: 60px;

		@media screen and (max-width: 767px) {
			font-size: 16px;
			margin-top: 30px;
		}
	}
}

/* 호스트 예약 관리, 탭 */
div.host-reservation-tabs {
	padding-top: 50px;
	border-bottom: 1px solid #C6CAD3;

	@media screen and (max-width: 767px) {
		padding-top: 30px;
		border-bottom: 0;

		.bootstrap-select>select {
			left: 0;
		}
	}

	div.tab-btn {
		float: left;

		@media screen and (max-width: 767px) {
			float: none;
			border-bottom: 1px solid #C6CAD3;
		}

		a {
			display: inline-block;
			width: 220px;
			border-bottom: 3px solid #fff;
			line-height: 90px;
			color: #A2A2A4;
			font-size: 22px;
			font-family:'Pretendard-SemiBold';
			text-align: center;

			@media screen and (max-width: 767px) {
				width: 50%;
				font-size: 18px;
				line-height: 62px;
			}

			&.on {
				color: $main-color;
				border-bottom: 3px solid $main-color;
			}
		}
	}
	div.status {
		float: right;
		padding-top: 15px;

		@media screen and (max-width: 767px) {
			float: none;
			padding: 30px 0 15px 0;
			border-bottom: 1px solid #C6CAD3;

			&.reserve-status {
				position: relative;
				padding: 95px 0 15px 0;
			}
		}

		span.s-txt {
			margin-right: 24px;
			color: #62717E;
			font-size: 18px;

			@media screen and (max-width: 767px) {
				display: block;
				font-size: 16px;

				span.m {
					display: block;
				}
			}
		}
		span.host-select {
			display: inline-block;
			margin-right: 20px;
			width: 155px;

			@media screen and (max-width: 767px) {
				width: 100%;
				margin-right: 0;
			}
		}
		.both {
			@media screen and (max-width: 767px) {
				width: 100% !important;
				margin-top: 5px;
			}
		}

		div.search-wp {
			position: relative;
			display: inline-block;
			vertical-align: bottom;

			@media screen and (max-width: 767px) {
				position: absolute;
				top: 25px;
				left: 0;
				width: 100%;
				padding-bottom: 15px;
			}
			.modal-button {
				padding: 15px 0;
			}
			input[type="text"] {
				background: #fff;
				border: 1px solid #A2A2A4;
				outline: none;
				font-size: 18px;
				color: $title-black;
				text-align: left;
				padding-left: 20px;
				padding-right: 50px;
				font-weight: 500;
				width: 240px;

				@media screen and (max-width: 768px) {
					font-size: 16px;
					width: 100%;
				}

				&::placeholder {
					color: #62717E;
				}
			}
			a.search-btn {
				position: absolute;
				width: 40px;
				height: 40px;
				background: url('../img/icons/icon_zoom_black.svg') 50% 50% no-repeat;
				text-indent: -9999px;	
				right: 10px;
				top: 10px;
			}
		}
	}
}

/* 예약/결제 내역 */
div.host-reservation-list {
	padding: 100px 0;

	@media screen and (max-width: 767px) {
		padding: 20px 0 50px 0;
	}

	ul {

		li {
			padding-bottom: 100px;

			@media screen and (max-width: 767px) {
				padding-top: 30px;
				padding-bottom: 30px;
				border-bottom: 1px solid #C6CAD3;
			}

			div.f {
				position: relative;
				float: left;
				width: 342px;
				height: 342px;
				border-radius: 20px;
				overflow: hidden;

				@media screen and (max-width: 767px) {
					width: 152px;
					height: 152px;
				}

				p.tags {
					position: absolute;
					left: 20px;
					top: 25px;
					
					@media screen and (max-width: 767px) {
						left: 10px;
						top: 10px;
					}

					span {
						font-size: 14px;
						color: $title-black;
						border: 1px solid #F5F5F5;
						padding: 10px 12px;
						margin-right: 5px;
						background: #fff;
						border-radius: 20px;

						@media screen and (max-width: 767px) {
							font-size: 12px;
							padding: 5px 8px;
						}
					}
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			div.s {
				position: relative;
				float: left;
				width: calc(100% - 366px);
				margin-left: 24px;

				@media screen and (max-width: 767px) {
					width: calc(100% - 176px);
					height: 152px;
				}

				div.up {
					position: relative;
					
					a.remove-item {
						position: absolute;
						width: 20px;
						height: 20px;
						background: url('../img/icons/icon_close.svg') 0 0 no-repeat;
						right: 0;
						text-indent: -9999px;
					}
					p.t1 {
						color: #62717E;
						font-size: 18px;
						font-family:'Pretendard-SemiBold';

						@media screen and (max-width: 767px) {
							font-size: 16px;
							padding-top: 15px;
						}
					}
					p.t2 {
						color: $title-black;
						font-size: 24px;
						font-family:'Pretendard-SemiBold';
						padding: 5px 0 30px 0;

						@media screen and (max-width: 767px) {
							font-size: 16px;
						}
					}
				}
			}

			div.down {
				float: left; 
				width: calc(100% - 366px);
				margin-left: 24px;

				@media screen and (max-width: 767px) {
					width: 100%;
					margin-left: 0;
				}

				div.f-l {
					float: left;
					position: relative;
					width: 55%;
					padding-right: 24px;
					border-right: 1px solid #C6CAD3;

					@media screen and (max-width: 767px) {
						float: none;
						width: 100%;
						padding-right: 0;
						border-right: 0;
					}

					table {
						width: 100%; 

						@media screen and (max-width: 767px) {
							margin-top: 20px;
						}

						th {
							color: #62717E;
							font-size: 18px;
							width: 30%;
							padding-bottom: 8px;

							@media screen and (max-width: 767px) {
								font-size: 16px;
								padding-bottom: 4px;
							}
						}
						td {
							font-size: 18px;
							font-family:'Pretendard-SemiBold';
							color: $title-black;
							width: 70%;
							padding-bottom: 8px;

							@media screen and (max-width: 767px) {
								font-size: 16px;
								padding-bottom: 4px;
							}
						}
					}
					div.app-date {
						margin-top: 35px;

						@media screen and (max-width: 767px) {
							margin-top: 10px;
						}

						span.a {
							display: inline-block; 
							color: #62717E;
							font-size: 18px;
							font-family:'Pretendard-SemiBold';
							width: 29%;

							@media screen and (max-width: 767px) {
								font-size: 16px;
							}
						}
						span.b {
							display: inline-block; 
							color: #62717E;
							font-size: 18px;
							width: 31%;
						}
						a {
							display: inline-block;
							width: 38%;
							font-family:'Pretendard-SemiBold';

							@media screen and (max-width: 767px) {
								display: block;
								width: 100%;
								margin-top: 15px;
							}
						}
					}
				}
				div.f-r {
					float: right; 
					width: 45%;
					padding-left: 24px;

					@media screen and (max-width: 767px) {
						float: none;
						width: 100%;
						padding-left: 0;
					}

					div.money {

						@media screen and (max-width: 767px) {
							padding: 20px 0;
						}

						span.a {
							display: block;
							font-size: 18px;
							font-family:'Pretendard-SemiBold';
							color: $title-black;

							@media screen and (max-width: 767px) {
								float: left;
								font-size: 16px;
								margin-top: 10px;
							}
						}
						span.b {
							display: block;
							font-size: 30px;
							font-family:'Pretendard-SemiBold';
							color: $title-black;

							@media screen and (max-width: 767px) {
								float: right;
							}
						}
					}

					div.sta {
						background: #F7F7F7 url('../img/icons/icon_warnning.svg') 20px 15px no-repeat;;
						border-radius: 8px;
						padding: 17px 25px 17px 55px;
						color: #A2A2A4;
						font-size: 18px;
						min-height: 88px;

						@media screen and (max-width: 767px) {
							font-size: 16px;
							line-height: 20px;
							min-height: auto;
						}
						
						span {
							color: $title-black;
						}
						a {
							color: $main-color;
							text-decoration: underline;
						}
						&.second {
							min-height: 168px;
						}
					}
					div.both-buttons {
						padding-top: 20px;
					}
					div.single-button {
						padding-top: 20px;
					}
				}
			}

			span.status {
				position: absolute;
				display: inline-block;
				font-size: 14px;
				padding: 6px 12px;
				border-radius: 20px;
				right: 0;
				top: 95px;

				@media screen and (max-width: 767px) {
					position: static;
					font-size: 12px;
					padding: 3px 8px;
					margin-top: 5px;
				}
				
				&.a-1 {
					color: $main-color;
					border: 1px solid $main-color;
				}
				&.a-2 {
					color: #FF9100;
					border: 1px solid #FF9100;
				}
				&.a-3 {
					color: #54A4EC;
					border: 1px solid #54A4EC;
				}
				&.a-4 {
					color: #A2A2A4;
					border: 1px solid #A2A2A4;
				}
				&.a-5 {
					color: #E75B3C;
					border: 1px solid #E75B3C;
				}
			}
		}
	}
	a.more {
		display: block;
		color: $title-black;
		font-size: 24px;
		text-align: center;

		@media screen and (max-width: 767px) {
			font-size: 16px;
			margin-top: 30px;
		}
	}
}

/* 예약 상세보기 (모달) */
div.host-reserve-detail {

	@media screen and (max-width: 767px) {
		padding-top: 37px;
	}

	div.inner {
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid #EAEAEA;

		div.f {
			position: relative;
			float: left;
			width: 244px;
			height: 244px;
			border-radius: 20px;
			overflow: hidden;

			@media screen and (max-width: 767px) {
				width: 100px;
				height: 100px;
				border-radius: 10px;
			}

			p.tags {
				position: absolute;
				left: 20px;
				top: 25px;
				
				@media screen and (max-width: 767px) {
					left: 10px;
					top: 10px;
				}

				span {
					font-size: 14px;
					color: $title-black;
					border: 1px solid #F5F5F5;
					padding: 10px 12px;
					margin-right: 5px;
					background: #fff;
					border-radius: 20px;

					@media screen and (max-width: 767px) {
						font-size: 12px;
						padding: 5px 8px;
					}
				}
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		div.s {
			position: relative;
			float: left;
			width: calc(100% - 264px);
			margin-left: 20px;

			@media screen and (max-width: 767px) {
				width: calc(100% - 110px);
				height: 110px;
				margin-left: 10px;
			}

			div.up {
				position: relative;
				
				a.remove-item {
					position: absolute;
					width: 20px;
					height: 20px;
					background: url('../img/icons/icon_close.svg') 0 0 no-repeat;
					right: 0;
					text-indent: -9999px;
				}
				p.t1 {
					color: #62717E;
					font-size: 18px;
					font-family:'Pretendard-SemiBold';

					@media screen and (max-width: 767px) {
						font-size: 16px;
						padding-top: 0px;
					}
				}
				p.t2 {
					color: $title-black;
					font-size: 24px;
					font-family:'Pretendard-SemiBold';
					padding: 5px 0 20px 0;
					line-height: 30px;
					width: 80%;

					@media screen and (max-width: 767px) {
						font-size: 16px;
						width: 100%;
						line-height: 19px;
						padding: 3px 0 10px 0;
					}
				}
			}
		}

		div.down {
			float: left; 
			width: calc(100% - 366px);
			margin-left: 24px;

			@media screen and (max-width: 767px) {
				width: 100%;
				margin-left: 0;
			}

			div.f-l {
				float: none;
				position: relative;
				width: 100%;

				@media screen and (max-width: 767px) {
					width: 100%;
				}

				table {
					width: 100%; 

					@media screen and (max-width: 767px) {
						margin-top: 20px;
					}

					th {
						color: #62717E;
						font-size: 18px;
						width: 30%;
						padding-bottom: 6px;

						@media screen and (max-width: 767px) {
							font-size: 16px;
							padding-bottom: 3px;
							width: 40%;
						}
					}
					td {
						font-size: 18px;
						color: $title-black;
						width: 70%;
						padding-bottom: 6px;

						@media screen and (max-width: 767px) {
							font-size: 16px;
							padding-bottom: 3px;
							width: 60%;

							span.total-time {
								display: block;
							}
						}
					}
				}
			}
		}

		span.status {
			position: absolute;
			display: inline-block;
			font-size: 14px;
			padding: 6px 12px;
			border-radius: 20px;
			right: 0;
			top: 0px;

			@media screen and (max-width: 767px) {
				position: absolute;
				font-size: 12px;
				padding: 3px 8px;
				margin-top: 5px;
				right: auto;
				left: -110px;
				top: -42px;
			}
			
			&.a-1 {
				color: $main-color;
				border: 1px solid $main-color;
			}
			&.a-2 {
				color: #FF9100;
				border: 1px solid #FF9100;
			}
			&.a-3 {
				color: #54A4EC;
				border: 1px solid #54A4EC;
			}
			&.a-4 {
				color: #A2A2A4;
				border: 1px solid #A2A2A4;
			}
			&.a-5 {
				color: #E75B3C;
				border: 1px solid #E75B3C;
			}
		}
	}

	div.info {
		position: relative;
		width: 100%;

		@media screen and (max-width: 767px) {
			width: 100%;
		}

		table {
			width: 100%; 

			@media screen and (max-width: 767px) {
				margin-top: 20px;
			}

			th {
				color: #62717E;
				font-size: 18px;
				width: 30%;
				padding-bottom: 6px;
				vertical-align: top;

				@media screen and (max-width: 767px) {
					font-size: 16px;
					padding-bottom: 3px;
					width: 40%;

					&.mo {
						width: 100%;
					}
				}
			}
			td {
				font-size: 18px;
				color: $title-black;
				width: 70%;
				padding-bottom: 10px;

				@media screen and (max-width: 767px) {
					font-size: 16px;
					padding-bottom: 3px;
					width: 60%;

					&.mo {
						width: 100%;
					}
				}
			}
		}
	}

	div.pay-info {
		position: relative;
		margin-top: 30px;
		padding-top: 30px;
		border-top: 1px solid #EAEAEA;

		@media screen and (max-width: 767px) {
			width: 100%;
		}

		table {
			width: 100%; 

			@media screen and (max-width: 767px) {
				margin-top: 0px;
			}

			th {
				color: #62717E;
				font-size: 18px;
				width: 30%;
				padding-bottom: 6px;
				vertical-align: top;

				&.total {
					font-family:'Pretendard-SemiBold';
				}
				@media screen and (max-width: 767px) {
					font-size: 16px;
					padding-bottom: 3px;
					width: 40%;
				}
			}
			td {
				font-size: 18px;
				color: $title-black;
				width: 70%;
				padding-bottom: 10px;
				text-align: right;

				&.total {
					font-family:'Pretendard-SemiBold';
				}
				@media screen and (max-width: 767px) {
					font-size: 16px;
					padding-bottom: 3px;
					width: 60%;
				}
			}
		}
	}
	a.more {
		display: block;
		color: $main-color;
		font-size: 20px;
		text-align: center;
		background: url('../img/icons/icon_arrow_green.svg') 58% 50% no-repeat;
		margin: 20px 0;

		&.cancel {
			background: url('../img/icons/icon_arrow_green.svg') 61% 50% no-repeat;
		}

		@media screen and (max-width: 767px) {
			text-align: left;
			font-size: 14px;
			margin: 10px 0;
			background: url('../img/icons/icon_arrow_green.svg') 27% 50% no-repeat;

			&.cancel {
				background: url('../img/icons/icon_arrow_green.svg') 37% 50% no-repeat;
			}
		}
	}
}

div.host-cancel-modal {
	p {
		font-size: 20px;
		color: $title-black;
		font-family: 'Pretendard-SemiBold';
		padding-bottom: 12px;

		@media screen and (max-width: 767px) {
			font-size: 16px;
			line-height: 18px;
			word-break: keep-all;
		}
	}
	table {

		th, td {
			font-size: 20px;
			padding: 7px 0;
			word-break: keep-all;
			line-height: 24px;

			@media screen and (max-width: 767px) {
				font-size: 14px;
				line-height: 18px;
			}

			label.custom-label {
				vertical-align: middle;
			}
			span {
				vertical-align: top;
			}
		}
	}
}

/* 정산 관리 */
div.host-payment-wrapper {

	div.host-reserve-tit {
		font-size: 24px;
		font-family:'Pretendard-SemiBold';
		color: $title-black;
		padding: 50px 0 30px 0;

		@media screen and (max-width: 767px) {
			font-size: 18px;

			&.other {
				padding: 50px 0 0px 0;
			}
		}
	}

	div.host-select-date {
		margin: 60px 0 0px 0;
		border-top: 1px solid #C6CAD3;
		padding-top: 100px;

		@media screen and (max-width: 767px) {
			margin: 30px 0 0px 0;
			padding-top: 50px;
		}

		div.dates {
			width: 442px;
			margin: 0 auto;

			@media screen and (max-width: 767px) {
				width: 100%;
			}

			a.prev {
				float: left;
				width: 30px;
				height: 30px;
				background: url('../img/icons/icon_preview.svg') 50% 50% no-repeat;
				text-indent: -9999px;
				margin-right: 12px;
				margin-top: 15px;

				@media screen and (max-width: 767px) {
					margin-top: 45px;
				}
			}
			a.next {
				float: right;
				width: 30px;
				height: 30px;
				background: url('../img/icons/icon_next.svg') 50% 50% no-repeat;
				text-indent: -9999px;
				margin-left: 12px;
				margin-top: 15px;

				@media screen and (max-width: 767px) {
					margin-top: 45px;
				}
			}
			div.selects {
				float: left;
				width: 358px;

				@media screen and (max-width: 767px) {
					width: calc(100% - 85px);
				}

				span.s-1, span.s-2 {
					display: inline-block;
					width: 155px;
					margin: 0 12px;

					@media screen and (max-width: 767px) {
						display: block;
						width: 100%;
						margin: 0 0 10px 0px;
					}
				}
			}
		}
	}

	div.reservation-status {
		padding: 30px;
		border-radius: 14px;
		background: #F7F7F7;

		@media screen and (max-width: 767px) {
			padding: 20px;
		}

		ul.re-s {

			li {
				float: left;
				width: calc(25% - 15px);
				padding: 20px;
				border: 1px solid #C6CAD3;
				background: #fff;
				border-radius: 14px;
				margin-right: 20px;

				&:last-child {
					margin-right: 0;
				}

				@media screen and (max-width: 767px) {
					width: calc(50% - 8px);
					margin-right: 16px;
					margin-bottom: 16px;

					&:nth-child(2n) {
						margin-right: 0;
					}
				}

				p.t-1 {
					color: #62717E;
					font-size: 18px;
					font-family:'Pretendard-SemiBold';

					@media screen and (max-width: 767px) {
						font-size: 16px;
					}
				}
				p.t-2 {
					color: $main-color;
					font-size: 40px;
					font-family:'Pretendard-SemiBold'; 

					@media screen and (max-width: 767px) {
						font-size: 20px;
					}

					span {
						font-size: 24px;
						color: $title-black;
						margin-left: 5px;
						vertical-align: middle;

						@media screen and (max-width: 767px) {
							font-size: 16px;
						}
					}
				}
			}
		}
		ul.re-a {

			li {
				float: left;
				width: calc(33.4% - 15px);
				padding: 20px;
				border: 1px solid #C6CAD3;
				background: #fff;
				border-radius: 14px;
				margin-right: 20px;

				&:last-child {
					margin-right: 0;
				}
				
				@media screen and (max-width: 767px) {
					float: none;
					width: 100%;
					margin-bottom: 16px;
				}

				p.t-1 {
					color: #62717E;
					font-size: 18px;
					font-family:'Pretendard-SemiBold';

					@media screen and (max-width: 767px) {
						font-size: 16px;
					}
				}
				p.t-2 {
					color: $main-color;
					font-size: 40px;
					font-family:'Pretendard-SemiBold'; 

					@media screen and (max-width: 767px) {
						font-size: 20px;
					}

					span {
						font-size: 24px;
						color: $title-black;
						margin-left: 5px;
						vertical-align: middle;

						@media screen and (max-width: 767px) {
							font-size: 16px;
						}
					}
				}
			}
		}
	}

	div.status-detail {

		table.host-status-table {
			width: 100%;

			th {
				border-bottom: 1px solid #0D0D0D;
				padding: 0 0 30px 0;
				color: #62717E;
				font-size: 16px;
				font-family:'Pretendard-SemiBold'; 
			}
			td {
				padding: 30px 0;
				border-bottom: 1px solid #C6CAD3;
				font-size: 16px;
				color: $title-black;

				@media screen and (max-width: 767px) {
					padding: 10px 0;
					border-bottom: 0;
				}

				span.warning {
					color: #E75B3C;
				}
			}
		}

		@media screen and (max-width: 767px) {
			.host-status-table thead {
				display: none; /* 헤더 숨김 */
			}

			.host-status-table,
			.host-status-table tbody,
			.host-status-table tr,
			.host-status-table td {
				display: block;
				width: 100%;
			}

			.host-status-table tr {
				padding: 20px 0;
				border-bottom: 1px solid #C6CAD3;
				background: #fff;
			}

			.host-status-table td {
				text-align: left;
				padding: 6px 10px;
				border: none;
				position: relative;
				border-bottom: 0;
			}

			.host-status-table td::before {
				content: attr(data-label); /* th 대신 data-label 값 표시 */
				font-weight: bold;
				display: block;
				width: 90px;
				color: #62717E;
			}
		}
	}
}

/* 예약불가 */
div.reservation-not-search {
	border-bottom: 1px solid #C6CAD3;
	padding-top: 35px;
	height: 115px;

	@media screen and (max-width: 767px) {
		height: auto;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	div.status {

		@media screen and (max-width: 767px) {
			
		}

		span.ss {
			float: left;
			margin: 14px 24px 0 0px;
			color: #62717E;
			font-size: 18px;

			@media screen and (max-width: 767px) {
				float: none;
				display: block;
				margin: 15px 0 5px 0;
				font-size: 16px;
			}
		}
		div.se-wrap {
			float: right;
			width: calc(100% - 142px);

			.bootstrap-select > .dropdown-toggle {
				color: $title-black;
			}

			@media screen and (max-width: 767px) {
				float: none;
				display: block;
				width: 100%;
			}
		}
	}
}

div.calendar-wrapper {
	padding: 100px 0 0 0;

	@media screen and (max-width: 767px) {
		padding: 50px 0 0 0;
	}

	.flatpickr-calendar .fp-header .fp-label {
		font-size: 30px;
		padding: 0 20px;

		@media screen and (max-width: 767px) {
			font-size: 16px;
			padding: 0 10px;
		}
	}
	div.flatpickr-weekdays {
		height: 80px;
		background: $main-color;
		border-radius: 20px 20px 0 0;
		margin-top: 50px;
		border-bottom: 1px solid #fff;

		@media screen and (max-width: 767px) {
			height: 44px;
			border-radius: 8px 8px 0 0;
			margin-top: 5px;
		}
	
		span.flatpickr-weekday {
			font-family: 'Pretendard-Regular';
			font-size: 24px;
			color: #fff;
			font-weight: 300;
			border-right: 1px solid #fff;
			line-height: 80px;

			@media screen and (max-width: 767px) {
				font-size: 14px;
				line-height: 20px;
				border-right: 0;
			}
		}
	}
	div.flatpickr-days {

		div.dayContainer {

			span.flatpickr-day {
				position: relative;
				height: 200px;
				border-radius: 0;
				text-align: left;
				font-size: 24px;
				padding: 20px;
				color: $title-black;
				border-right: 1px solid #EAEAEA;
				border-bottom: 1px solid #EAEAEA;
				border-left: 0;
				border-top: 0;

				@media screen and (max-width: 767px) {
					text-align: center;
					font-size: 14px;
					padding: 0px;
					border-right: 0;
					border-bottom: 0;
					height: 45px;
				}
				
				&:nth-child(7n) {
					border-right: 0;
				}
				&:hover {
					background: #DEF6F4;
					border: 0;
				}

				a.event-link-reservation {
					position: absolute;
					color: $main-color;
					top: 65px;
					left: 20px;
					padding-left: 15px;
					background: url('../img/icons/bullet_green.svg') 0 50% no-repeat;
					background-size: 6px 6px;
					text-decoration: underline;

					@media screen and (max-width: 767px) {
						text-indent: -9999px;
						top: -14px;
						left: 50%;
						transform: translateX(-50%);
						padding-left: 5px;
						background-size: 5px 5px;
					}
				}
			}
		}
	}
	.flatpickr-calendar.open, .flatpickr-calendar.inline {
		max-height: 100%;
	}
	span.prevMonthDay, span.nextMonthDay {
		color: #ccc !important;
	}
}

div.reservation-modal-control {

	p.date {
		text-align: center;
		font-size: 22px;
		font-family:'Pretendard-SemiBold';
		padding-bottom: 25px;

		@media screen and (max-width: 767px) {
			font-size: 16px;
			padding-bottom: 10px;
		}
	}
	div.time-control {

		div.start-time {
			float: left;
			width: 35%;

			@media screen and (max-width: 767px) {
				float: none;
				width: 100%;
			}
		}
		span.from-to {
			float: left;
			font-size: 18px;
			margin: 15px 10px 0 10px;

			@media screen and (max-width: 767px) {
				display: none;
			}
		}
		div.end-time {
			float: left;
			width: 35%;

			@media screen and (max-width: 767px) {
				float: none;
				width: 100%;
				margin: 10px 0;
			}
		}
		a.btn-add {
			float: right;
			width: 21%;

			@media screen and (max-width: 767px) {
				float: none;
				width: 100%;
			}
		}
	}
	p.whole-day {
		padding: 20px 0;
	}
	ul.now-list {
		border-top: 1px solid #EAEAEA;
		padding-top: 15px;

		li {
			padding-top: 15px;

			span.r-1 {
				float: left;
				font-size: 18px;
				color: #62717E;
				width: 30%;

				@media screen and (max-width: 767px) {
					float: none;
					display: block;
					width: 100%;
					font-size: 16px;
				}
			}
			span.r-2 {
				float: left;
				font-size: 18px;
				font-family:'Pretendard-SemiBold';
				width: 70%;

				@media screen and (max-width: 767px) {
					font-size: 16px;
					width: 100%;
				}

				span.time {
					float: none;
					display: block;
					width: 100%;
				}
				a {
					float: right;
					font-size: 18px;
					color: $main-color;
					font-family:'Pretendard-Regular';

					@media screen and (max-width: 767px) {
						font-size: 16px;
					}
				}
			}
		}
	}
}

div.modal-footer-confirm {
	text-align: center;

	a {
		display: inline-block;
		width: 220px;

		@media screen and (max-width: 767px) {
			width: 100%;
		}
	}
}