div.reservation-tabs {
	padding-top: 50px;
	border-bottom: 1px solid #C6CAD3;

	@media screen and (max-width: 767px) {
		padding-top: 30px;
		border-bottom: 0;
	}

	div.tab-btn {
		float: left;

		@media screen and (max-width: 767px) {
			float: none;
			border-bottom: 1px solid #C6CAD3;
		}

		a {
			display: inline-block;
			width: 220px;
			border-bottom: 3px solid #fff;
			line-height: 90px;
			color: #A2A2A4;
			font-size: 22px;
			font-family:'Pretendard-SemiBold';
			text-align: center;

			@media screen and (max-width: 767px) {
				width: 50%;
				font-size: 18px;
				line-height: 62px;
			}

			&.on {
				color: $main-color;
				border-bottom: 3px solid $main-color;
			}
		}
	}
	div.status {
		float: right;
		padding-top: 15px;

		@media screen and (max-width: 767px) {
			float: none;
			padding: 30px 0 15px 0;
			border-bottom: 1px solid #C6CAD3;
		}

		span {
			margin-right: 24px;
			color: #62717E;
			font-size: 18px;

			@media screen and (max-width: 767px) {
				display: block;
				font-size: 16px;
			}
		}
		.both {
			@media screen and (max-width: 767px) {
				width: 100% !important;
				margin-top: 5px;
			}
		}
	}
}

/* 예약/결제 내역 */
div.mypage-reservation-list {
	padding: 100px 0;

	@media screen and (max-width: 767px) {
		padding: 20px 0 50px 0;
	}

	ul {

		li {
			padding-bottom: 100px;

			@media screen and (max-width: 767px) {
				padding-top: 30px;
				padding-bottom: 30px;
				border-bottom: 1px solid #C6CAD3;
			}

			div.f {
				position: relative;
				float: left;
				width: 342px;
				height: 342px;
				border-radius: 20px;
				overflow: hidden;

				@media screen and (max-width: 767px) {
					width: 152px;
					height: 152px;
				}

				p.tags {
					position: absolute;
					left: 20px;
					top: 25px;
					
					@media screen and (max-width: 767px) {
						left: 10px;
						top: 10px;
					}

					span {
						font-size: 14px;
						color: $title-black;
						border: 1px solid #F5F5F5;
						padding: 10px 12px;
						margin-right: 5px;
						background: #fff;
						border-radius: 20px;

						@media screen and (max-width: 767px) {
							font-size: 12px;
							padding: 5px 8px;
						}
					}
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			div.s {
				position: relative;
				float: left;
				width: calc(100% - 366px);
				margin-left: 24px;

				@media screen and (max-width: 767px) {
					width: calc(100% - 176px);
					height: 152px;
				}

				div.up {
					position: relative;
					
					a.remove-item {
						position: absolute;
						width: 20px;
						height: 20px;
						background: url('../img/icons/icon_close.svg') 0 0 no-repeat;
						right: 0;
						text-indent: -9999px;
					}
					p.t1 {
						color: #62717E;
						font-size: 18px;
						font-family:'Pretendard-SemiBold';

						@media screen and (max-width: 767px) {
							font-size: 16px;
							padding-top: 15px;
						}
					}
					p.t2 {
						color: $title-black;
						font-size: 24px;
						font-family:'Pretendard-SemiBold';
						padding: 5px 0 30px 0;

						@media screen and (max-width: 767px) {
							font-size: 16px;
						}
					}
				}
			}

			div.down {
				float: left; 
				width: calc(100% - 366px);
				margin-left: 24px;

				@media screen and (max-width: 767px) {
					width: 100%;
					margin-left: 0;
				}

				div.f-l {
					float: left;
					position: relative;
					width: 55%;
					padding-right: 24px;
					border-right: 1px solid #C6CAD3;

					@media screen and (max-width: 767px) {
						float: none;
						width: 100%;
						padding-right: 0;
						border-right: 0;
					}

					table {
						width: 100%; 

						@media screen and (max-width: 767px) {
							margin-top: 20px;
						}

						th {
							color: #62717E;
							font-size: 18px;
							width: 30%;
							padding-bottom: 8px;

							@media screen and (max-width: 767px) {
								font-size: 16px;
								padding-bottom: 4px;
							}
						}
						td {
							font-size: 18px;
							font-family:'Pretendard-SemiBold';
							color: $title-black;
							width: 70%;
							padding-bottom: 8px;

							@media screen and (max-width: 767px) {
								font-size: 16px;
								padding-bottom: 4px;
							}
						}
					}
					div.app-date {
						margin-top: 72px;

						@media screen and (max-width: 767px) {
							margin-top: 10px;
						}

						span.a {
							display: inline-block; 
							color: #62717E;
							font-size: 18px;
							font-family:'Pretendard-SemiBold';
							width: 29%;

							@media screen and (max-width: 767px) {
								font-size: 16px;
							}
						}
						span.b {
							display: inline-block; 
							color: #62717E;
							font-size: 18px;
							width: 31%;
						}
						a {
							display: inline-block;
							width: 38%;
							font-family:'Pretendard-SemiBold';

							@media screen and (max-width: 767px) {
								display: block;
								width: 100%;
								margin-top: 15px;
							}
						}
					}
				}
				div.f-r {
					float: right; 
					width: 45%;
					padding-left: 24px;

					@media screen and (max-width: 767px) {
						float: none;
						width: 100%;
						padding-left: 0;
					}

					div.money {

						@media screen and (max-width: 767px) {
							padding: 20px 0;
						}

						span.a {
							display: block;
							font-size: 18px;
							font-family:'Pretendard-SemiBold';
							color: $title-black;

							@media screen and (max-width: 767px) {
								float: left;
								font-size: 16px;
								margin-top: 10px;
							}
						}
						span.b {
							display: block;
							font-size: 30px;
							font-family:'Pretendard-SemiBold';
							color: $title-black;

							@media screen and (max-width: 767px) {
								float: right;
							}
						}
					}

					div.sta {
						background: #F7F7F7 url('../img/icons/icon_warnning.svg') 20px 15px no-repeat;;
						border-radius: 8px;
						padding: 17px 25px 17px 55px;
						color: #A2A2A4;
						font-size: 18px;
						min-height: 88px;

						@media screen and (max-width: 767px) {
							font-size: 16px;
							line-height: 20px;
							min-height: auto;
						}
						
						span {
							color: $title-black;
						}
						a {
							color: $main-color;
							text-decoration: underline;
						}
					}
					div.both-buttons {
						padding-top: 20px;
					}
					div.single-button {
						padding-top: 20px;
					}
				}
			}

			span.status {
				position: absolute;
				display: inline-block;
				font-size: 14px;
				padding: 6px 12px;
				border-radius: 20px;
				right: 0;
				top: 95px;

				@media screen and (max-width: 767px) {
					position: static;
					font-size: 12px;
					padding: 3px 8px;
					margin-top: 5px;
				}
				
				&.a-1 {
					color: $main-color;
					border: 1px solid $main-color;
				}
				&.a-2 {
					color: #FF9100;
					border: 1px solid #FF9100;
				}
				&.a-3 {
					color: #54A4EC;
					border: 1px solid #54A4EC;
				}
				&.a-4 {
					color: #A2A2A4;
					border: 1px solid #A2A2A4;
				}
				&.a-5 {
					color: #E75B3C;
					border: 1px solid #E75B3C;
				}
			}
		}
	}
	a.more {
		display: block;
		color: $title-black;
		font-size: 24px;
		text-align: center;
		margin-top: 60px;

		@media screen and (max-width: 767px) {
			font-size: 16px;
			margin-top: 30px;
		}
	}
}

/* 예약 상세보기 (모달) */
div.custom-reserve-detail {

	@media screen and (max-width: 767px) {
		padding-top: 37px;
	}

	div.inner {
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid #EAEAEA;

		div.f {
			position: relative;
			float: left;
			width: 244px;
			height: 244px;
			border-radius: 20px;
			overflow: hidden;

			@media screen and (max-width: 767px) {
				width: 100px;
				height: 100px;
				border-radius: 10px;
			}

			p.tags {
				position: absolute;
				left: 20px;
				top: 25px;
				
				@media screen and (max-width: 767px) {
					left: 10px;
					top: 10px;
				}

				span {
					font-size: 14px;
					color: $title-black;
					border: 1px solid #F5F5F5;
					padding: 10px 12px;
					margin-right: 5px;
					background: #fff;
					border-radius: 20px;

					@media screen and (max-width: 767px) {
						font-size: 12px;
						padding: 5px 8px;
					}
				}
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		div.s {
			position: relative;
			float: left;
			width: calc(100% - 264px);
			margin-left: 20px;

			@media screen and (max-width: 767px) {
				width: calc(100% - 110px);
				height: 110px;
				margin-left: 10px;
			}

			div.up {
				position: relative;
				
				a.remove-item {
					position: absolute;
					width: 20px;
					height: 20px;
					background: url('../img/icons/icon_close.svg') 0 0 no-repeat;
					right: 0;
					text-indent: -9999px;
				}
				p.t1 {
					color: #62717E;
					font-size: 18px;
					font-family:'Pretendard-SemiBold';

					@media screen and (max-width: 767px) {
						font-size: 16px;
						padding-top: 0px;
					}
				}
				p.t2 {
					color: $title-black;
					font-size: 24px;
					font-family:'Pretendard-SemiBold';
					padding: 5px 0 20px 0;
					line-height: 30px;
					width: 80%;

					@media screen and (max-width: 767px) {
						font-size: 16px;
						width: 100%;
						line-height: 19px;
						padding: 3px 0 10px 0;
					}
				}
			}
		}

		div.down {
			float: left; 
			width: calc(100% - 366px);
			margin-left: 24px;

			@media screen and (max-width: 767px) {
				width: 100%;
				margin-left: 0;
			}

			div.f-l {
				float: none;
				position: relative;
				width: 100%;

				@media screen and (max-width: 767px) {
					width: 100%;
				}

				table {
					width: 100%; 

					@media screen and (max-width: 767px) {
						margin-top: 20px;
					}

					th {
						color: #62717E;
						font-size: 18px;
						width: 30%;
						padding-bottom: 6px;

						@media screen and (max-width: 767px) {
							font-size: 16px;
							padding-bottom: 3px;
							width: 40%;
						}
					}
					td {
						font-size: 18px;
						color: $title-black;
						width: 70%;
						padding-bottom: 6px;

						@media screen and (max-width: 767px) {
							font-size: 16px;
							padding-bottom: 3px;
							width: 60%;

							span.total-time {
								display: block;
							}
						}
					}
				}
			}
		}

		span.status {
			position: absolute;
			display: inline-block;
			font-size: 14px;
			padding: 6px 12px;
			border-radius: 20px;
			right: 0;
			top: 0px;

			@media screen and (max-width: 767px) {
				position: absolute;
				font-size: 12px;
				padding: 3px 8px;
				margin-top: 5px;
				right: auto;
				left: -110px;
				top: -42px;
			}
			
			&.a-1 {
				color: $main-color;
				border: 1px solid $main-color;
			}
			&.a-2 {
				color: #FF9100;
				border: 1px solid #FF9100;
			}
			&.a-3 {
				color: #54A4EC;
				border: 1px solid #54A4EC;
			}
			&.a-4 {
				color: #A2A2A4;
				border: 1px solid #A2A2A4;
			}
			&.a-5 {
				color: #E75B3C;
				border: 1px solid #E75B3C;
			}
		}
	}

	div.info {
		position: relative;
		width: 100%;

		@media screen and (max-width: 767px) {
			width: 100%;
		}

		table {
			width: 100%; 

			@media screen and (max-width: 767px) {
				margin-top: 20px;
			}

			th {
				color: #62717E;
				font-size: 18px;
				width: 30%;
				padding-bottom: 6px;
				vertical-align: top;

				@media screen and (max-width: 767px) {
					font-size: 16px;
					padding-bottom: 3px;
					width: 40%;

					&.mo {
						width: 100%;
					}
				}
			}
			td {
				font-size: 18px;
				color: $title-black;
				width: 70%;
				padding-bottom: 10px;

				@media screen and (max-width: 767px) {
					font-size: 16px;
					padding-bottom: 3px;
					width: 60%;

					&.mo {
						width: 100%;
					}
				}
			}
		}
	}

	div.pay-info {
		position: relative;
		margin-top: 30px;
		padding-top: 30px;
		border-top: 1px solid #EAEAEA;

		@media screen and (max-width: 767px) {
			width: 100%;
		}

		table {
			width: 100%; 

			@media screen and (max-width: 767px) {
				margin-top: 0px;
			}

			th {
				color: #62717E;
				font-size: 18px;
				width: 30%;
				padding-bottom: 6px;
				vertical-align: top;

				&.total {
					font-family:'Pretendard-SemiBold';
				}
				@media screen and (max-width: 767px) {
					font-size: 16px;
					padding-bottom: 3px;
					width: 40%;
				}
			}
			td {
				font-size: 18px;
				color: $title-black;
				width: 70%;
				padding-bottom: 10px;
				text-align: right;

				&.total {
					font-family:'Pretendard-SemiBold';
				}
				@media screen and (max-width: 767px) {
					font-size: 16px;
					padding-bottom: 3px;
					width: 60%;
				}
			}
		}
	}
	a.more {
		display: block;
		color: $main-color;
		font-size: 20px;
		text-align: center;
		background: url('../img/icons/icon_arrow_green.svg') 58% 50% no-repeat;
		margin: 20px 0;

		&.cancel {
			background: url('../img/icons/icon_arrow_green.svg') 61% 50% no-repeat;
		}

		@media screen and (max-width: 767px) {
			text-align: left;
			font-size: 14px;
			margin: 10px 0;
			background: url('../img/icons/icon_arrow_green.svg') 27% 50% no-repeat;

			&.cancel {
				background: url('../img/icons/icon_arrow_green.svg') 37% 50% no-repeat;
			}
		}
	}
}

/* 예약 취소하기 (모달) */
div.custom-reserve-cancel {

	div.money {

		@media screen and (max-width: 767px) {
			padding: 0px 0;
		}

		span.a {
			display: block;
			font-size: 18px;
			font-family:'Pretendard-SemiBold';
			color: $title-black;

			@media screen and (max-width: 767px) {
				font-size: 16px;
				margin-top: 10px;
			}
		}
		span.b {
			display: block;
			font-size: 30px;
			font-family:'Pretendard-SemiBold';
			color: $title-black;

			@media screen and (max-width: 767px) {
				
			}
		}
	}
	div.pay-info {
		position: relative;
		margin-top: 30px;

		@media screen and (max-width: 767px) {
			width: 100%;
			margin-top: 20px;
		}

		table {
			width: 100%; 

			@media screen and (max-width: 767px) {
				margin-top: 20px;
			}

			th {
				color: #62717E;
				font-size: 18px;
				width: 30%;
				padding-bottom: 6px;
				vertical-align: top;

				&.total {
					font-family:'Pretendard-SemiBold';
				}
				@media screen and (max-width: 767px) {
					font-size: 16px;
					padding-bottom: 3px;
					width: 40%;
				}
			}
			td {
				font-size: 18px;
				color: $title-black;
				width: 70%;
				padding-bottom: 10px;
				text-align: right;

				&.total {
					font-family:'Pretendard-SemiBold';
				}
				@media screen and (max-width: 767px) {
					font-size: 16px;
					padding-bottom: 3px;
					width: 60%;
				}
			}
		}
	}
	div.confirm-check {
		margin-top: 25px;
		padding-top: 25px;
		border-top: 1px solid #EAEAEA;
		font-size: 20px;
		color: #62717E;
	}
}

/* 예약 취소하기 (모달) */
div.custom-host-question {

	div.word-count {
		text-align: right;
		color: #A2A2A4;
		padding-bottom: 6px;
	}
	textarea {
		background: #F7F7F7;
		border: 1px solid #F7F7F7;
		border-radius: 8px;
		height: 330px;
		width: 100%;
		padding: 20px;

		&::placeholder {
			color: #A2A2A4;
		}
	}
}

/* 결제하기 계좌이체 */
div.payment-account-transfer {

	div.info {

		@media screen and (max-width: 767px) {
			padding: 0px 0;
		}

		span.a {
			display: block;
			font-size: 18px;
			font-family:'Pretendard-SemiBold';
			color: #62717E;

			@media screen and (max-width: 767px) {
				
				font-size: 16px;
				margin-top: 10px;
			}
		}
		span.b {
			display: block;
			font-size: 24px;
			font-family:'Pretendard-SemiBold';
			color: $title-black;
			line-height: 28px;
			padding-top: 7px;

			@media screen and (max-width: 767px) {
				font-size: 16px;
				line-height: 20px;
			}
		}
	}

	div.pay-info {
		position: relative;
		margin-top: 30px;
		margin-bottom: 30px;
		padding-bottom: 20px;
		border-bottom: 1px solid #EAEAEA;

		@media screen and (max-width: 767px) {
			width: 100%;
			margin-top: 0px;
			margin-bottom: 0px;
		}

		table {
			width: 100%; 

			@media screen and (max-width: 767px) {
				margin-top: 20px;
			}

			th {
				color: #62717E;
				font-size: 18px;
				width: 30%;
				padding-bottom: 6px;
				vertical-align: top;

				&.total {
					font-family:'Pretendard-SemiBold';
				}
				@media screen and (max-width: 767px) {
					font-size: 16px;
					padding-bottom: 3px;
					width: 40%;
				}
			}
			td {
				font-size: 18px;
				color: $title-black;
				width: 70%;
				padding-bottom: 10px;

				&.total {
					font-family:'Pretendard-SemiBold';
				}
				@media screen and (max-width: 767px) {
					font-size: 16px;
					padding-bottom: 3px;
					width: 60%;

					span {
						display: block;
					}
				}
			}
		}
	}

	div.point-info {
		position: relative;
		margin-top: 30px;
		margin-bottom: 30px;
		padding: 0 0 20px 0;
		border-bottom: 1px solid #EAEAEA;

		@media screen and (max-width: 767px) {
			width: 100%;
			margin-top: 15px;
			margin-bottom: 0px;
		}

		p.s-tit {
			font-size: 18px;
			font-family:'Pretendard-SemiBold';
		}
		div.now-point {
			padding: 20px 0 10px 0;

			p.now {
				float: left; 
				width: 70%;
				padding-top: 8px;
				font-size: 18px;

				@media screen and (max-width: 767px) {
					font-size: 16px;
					width: 67%;
				}

				span.a {
					display: inline-block;
					width: 40%; 
					color: #62717E;

					@media screen and (max-width: 767px) {
						width: 65%; 
					}
				}
				span.b {
					display: inline-block;
					width: 60%; 

					@media screen and (max-width: 767px) {
						width: 35%; 
					}
				}
			}
			a {
				float: right;
				padding: 7px 10px;
				background: #62717E;
				color: #fff;
				border-radius: 8px;
			}
		}
		input {
			
			@media screen and (max-width: 767px) {
				font-size: 16px;
			}
		}
		p.txt {
			font-size: 18px;
			color: #62717E;
			padding-top: 8px;

			@media screen and (max-width: 767px) {
				font-size: 16px;
				line-height: 20px;
			}
		}
	}

	div.money {

		@media screen and (max-width: 767px) {
			padding: 0px 0;
		}

		span.a {
			display: block;
			font-size: 18px;
			font-family:'Pretendard-SemiBold';
			color: $title-black;

			@media screen and (max-width: 767px) {
				font-size: 16px;
				margin-top: 20px;
			}
		}
		span.b {
			display: block;
			font-size: 30px;
			font-family:'Pretendard-SemiBold';
			color: $title-black;

			@media screen and (max-width: 767px) {
				
			}
		}
	}
	div.final-info {
		position: relative;
		margin-top: 30px;

		@media screen and (max-width: 767px) {
			width: 100%;
			margin-top: 10px;
		}

		table {
			width: 100%; 

			@media screen and (max-width: 767px) {
				margin-top: 20px;
			}

			th {
				color: #62717E;
				font-size: 18px;
				width: 30%;
				padding-bottom: 6px;
				vertical-align: top;

				&.total {
					font-family:'Pretendard-SemiBold';
				}
				@media screen and (max-width: 767px) {
					font-size: 16px;
					padding-bottom: 3px;
					width: 40%;
				}
			}
			td {
				font-size: 18px;
				color: $title-black;
				width: 70%;
				padding-bottom: 10px;
				text-align: right;

				&.total {
					font-family:'Pretendard-SemiBold';
				}
				@media screen and (max-width: 767px) {
					font-size: 16px;
					padding-bottom: 3px;
					width: 60%;
				}
			}
		}
	}
	div.payment-method {
		padding-top: 20px;

		ul.tabs {

			li {
				float: left;
				width: 25%;
				padding: 15px 0;
				text-align: center;
				border-bottom: 1px solid #C6CAD3;
				font-size: 22px;
				color: #A2A2A4;
				cursor: pointer;

				@media screen and (max-width: 767px) {
					font-size: 16px;
				}

				&.on {
					border-bottom: 1px solid $main-color;
					box-shadow: inset 0px -2px 0px $main-color;
					color: $main-color;
					font-family:'Pretendard-SemiBold';

					@media screen and (max-width: 767px) {
						box-shadow: inset 0px -1px 0px $main-color;
					}
				}
			}
		}
		div.payments {
			padding-top: 10px;

			ul.ps {
				& > li {
					padding-top: 20px;

					p.l {
						float: left;
						padding-top: 20px;
						width:50%;
					}
					p.r {
						float: right;
						width:50%;
					}
				}
			}
			ul.phone {
				padding: 10px;
				background: #F7F7F7;
				border-radius: 8px;
				font-size: 18px;
				color: #A2A2A4;

				@media screen and (max-width: 767px) {
					font-size: 16px;
				}

				li {
					background: url('../img/icons/icon_warnning.svg') 0 0 no-repeat;
					padding-left: 35px;
					
					&:nth-child(2) {
						background: url('../img/icons/icon_warnning.svg') 0 11px no-repeat;
						padding: 10px 0 10px 35px;
					}
				}
			}
			div.phone-radio {
				padding: 10px 0;
			}
		}
	}
}

div.custom-reserve-detail-footer {
	text-align: center;

	a {
		display: inline-block;
		width: 220px;
		margin: 0 5px;

		@media screen and (max-width: 767px) {
			width: calc(50% - 5px);
			margin: 0 0;

			&:nth-child(1) {
				margin-right: 10px;
			}
		}
	}

	&.single {

		a {
			@media screen and (max-width: 767px) {
				width: 100%;
			}
		}
	}
}

