div.place-list-wrapper {

	p.txt-1 {
		font-family: 'Pretendard-SemiBold';
		font-size: 24px;
		padding-top: 15px;

		@media screen and (max-width: 768px) {
			padding-top: 5px;
			font-size: 16px;
		}
		span {
			color: $main-color;
		}
	}
	div.place-tag-area {
		padding: 60px 0 20px 0;
		border-bottom: 1px solid #C6CAD3;

		@media screen and (max-width: 768px) {
			padding: 45px 0 5px 0;
		}

		ul {

			li {
				float: left;
				margin-right: 10px;
				margin-bottom: 10px;

				a {
					display: block;
					padding: 9px 12px;
					border: 1px solid #A2A2A4;
					border-radius: 100px;
					color: #A2A2A4;
					font-size: 12px;

					&.on {
						border: 1px solid $main-color;
						background: $main-color;
						color: $white;
					}
				}
			}
		}
	}
	main.masonry-list {

		section.masonry-section {
			padding-top: 60px;

			@media screen and (max-width: 767px) {
				padding-top: 30px;
			}

			article {
				position: relative;
				border: 0;

				&.card {
					break-inside: avoid;
					-webkit-column-break-inside: avoid;
					-moz-column-break-inside: avoid;
					display: inline-block;
					width: 100%;
					margin-bottom: 40px;
					
					opacity: 0;
					transform: translateY(12px);
					
					div.infos {
						position: absolute;
						top: 20px; left: 20px;

						@media screen and (max-width: 768px) {
							display: none; 
						}

						span {
							display: inline-block;
							padding: 8px 14px;
							background: #fff;
							color: $title-black;
							font-size: 14px;
							border-radius: 100px;
							margin-right: 10px;
							border: 1px solid #F5F5F5;
						}
					}
					div.image {
						border-radius: 14px; 
						box-shadow: 0 10px 20px rgba(0,0,0,.06);
						
						img {
							width: 100%; 
							height: auto; 
							display: block; 
						}
					}
					.content {
						padding: 0px 0 0 15px; 

						@media screen and (max-width: 768px) {
							padding: 0px 0 0 0px; 
						}
					}
					p {
						&.text-1 {
							font-size: 20px;
							color: #6C757D;
							padding-top: 20px;

							@media screen and (max-width: 768px) {
								font-size: 14px;
								padding-top: 10px;
							}
						}
						&.text-2 {
							font-size: 24px;
							color: $title-black;
							font-family: 'Pretendard-SemiBold';
							padding-top: 5px;

							@media screen and (max-width: 768px) {
								font-size: 16px;
								padding-top: 2px;
							}
						}
						&.text-3 {
							font-size: 24px;
							color: $main-color;
							padding-top: 10px;

							@media screen and (max-width: 768px) {
								font-size: 16px;
								padding-top: 5px;
							}

							span {
								font-size: 18px;
								color: #A2A2A4;

								@media screen and (max-width: 768px) {
									font-size: 16px
								}
							}
						}
					}
				}
			}
		}
		a.more {
			display: block;
			color: $title-black;
			font-size: 24px;
			text-align: center;
			margin-top: 60px;

			@media screen and (max-width: 767px) {
				font-size: 16px;
				margin-top: 30px;
			}
		}
	}
}

/* 상세 보기 */
div.place-view-wrapper {

	p.title {
		font-size: 40px;
		font-family: 'Pretendard-SemiBold';
		padding-bottom: 60px;

		span.warnning {
			display: inline-block;
			padding-left: 35px;
			font-size: 18px;
			color: #A2A2A4;
			font-family: 'Pretendard-Medium';
			background: url('../img/icons/icon_warnning.svg') 0 50% no-repeat;
			vertical-align: middle;
			margin-left: 20px;
		}
		span.counter {
			color: $main-color;
			margin-left: 10px;
		}
	}

	a.normal {
		display: inline-block;
		border: 1px solid #C6CAD3;
		background: #fff;
		color: $title-black;
		width: 220px;
		margin-top: 30px;
	}

	/* 기본정보, 위치 */
	div.common-area {
		padding-bottom: 200px;

		/* 좌측 */
		div.infos {
			float: left;
			width: calc(100% - 364px);

			ul.detail-list {

				li {
					float: left;
					width: 100px;
					margin-right: 225px;

					&:first-child {

					}
					&:last-child {
						margin-right: 0;
					}

					span.t1 {
						display: block;
						text-align: center;
						font-size: 14px;
						color: #A2A2A4;
						padding-top: 10px;
					}
					span.t2 {
						display: block;
						text-align: center;
						font-size: 16px;
						color: $title-black;
						line-height: 18px;
						padding-top: 5px;
					}
				}
			}
			div.detail-view {
				border-top: 1px solid #C6CAD3;
				margin-top: 30px;
				padding-top: 30px;
				padding-bottom: 200px;

				div.inner {
					font-size: 16px;
					line-height: 24px;
					color: #62717E;
				}
			}
			div.map-wrapper {
				height: 522px;
				border-radius: 14px;
				border: 1px solid #eee;
			}
		}

		/* 우측 */
		div.reserve-wrap {
			float: right;
			width: 340px;

			div.reservation-select {
				border: 1px solid #EAEAEA;
				padding: 20px;
				border-radius: 14px;
				box-shadow: 0 10px 20px rgba(0,0,0,0.1);

				div.total-count {
					padding-bottom: 15px;

					div.count {
						float: left;

						p.f {
							font-size: 12px;
							color: #62717E;
						}
						p.s {
							font-size: 18px;
							font-family: 'Pretendard-SemiBold';
							color: $main-color;

							span {
								font-size: 14px;
								color: $title-black;
							}
						}
					}
					span.count-guide {
						float: right;
						font-size: 12px;
						color: #62717E;
						padding-top: 22px;
					}
				}
				div.selects-wrap {
					padding: 20px 0;
					border-top: 1px solid #EAEAEA;
					border-bottom: 1px solid #EAEAEA;

					div.select-date {

						a {
							display: block;
							line-height: 41px;
							border: 1px solid #A2A2A4;
							font-size: 14px;
							color: #6C757D;
							background: url('../img/icons/icon_plus_black.svg') 94% 50% no-repeat;
							padding: 0 15px;
							border-radius: 8px;
						}
					}
					div.reserve-place-select {
						margin-bottom: 10px;

						div.close-btn {
							padding: 20px 0;
							border-bottom: 1px solid #EAEAEA;

							a {
								display: block;
								border-radius: 8px;
								line-height: 40px;
								text-align: center;
								font-size: 14px;
								color: $white;
								background: #62717E;
							}
						}
					}
					div.time-select {
						padding: 10px 0;

						.bootstrap-select > .dropdown-toggle {
							padding: 9px 15px;
							font-size: 14px;
						}
						.both {
							width: 46.5% !important;

							@media screen and (min-width: 1024px) and (max-width: 1600px) {
								width: 45% !important;
							}
						}
					}
					div.select-man {
						
						.whole {
							width: 100%; 
						}
						.bootstrap-select > .dropdown-toggle {
							padding: 9px 15px;
							font-size: 14px;
						}
					}
				}
				div.reserve-btn-wrap {
					padding-top: 20px;

					a {
						display: inline-block;
						width: 100%;
					}
					p.guide {
						font-size: 12px;
						color: #62717E;
						line-height: 16px;
						padding-top: 10px;
					}
				}
			}
			div.reserve-etc {
				border: 1px solid #EAEAEA;
				padding: 20px;
				border-radius: 14px;
				box-shadow: 0 10px 20px rgba(0,0,0,0.1);
				margin-top: 20px;

				div.apply-to-host {

					p.f {
						float: left;
						font-size: 14px;
						font-family: 'Pretendard-SemiBold';
						color: $title-black;
						line-height: 18px; 
					}
					a.s {
						float: right;
						font-size: 14px;
						color: $main-color;
						padding-right: 15px;
						background: url('../img/icons/icon_arrow_green.svg') 100% 50% no-repeat;
					}
				}
			}
			div.reserve-info-apply {
				border: 1px solid #EAEAEA;
				padding: 20px;
				border-radius: 14px;
				box-shadow: 0 10px 20px rgba(0,0,0,0.1);
				margin-top: 20px;

				div.up {
					border-bottom: 1px solid #EAEAEA;
					padding-bottom: 20px;

					div.f {
						float: left;

						div.a {
							float: left;
							width: 36px;
							height: 36px;
							background: #D9D9D9;
							border-radius: 100px;
							margin-right: 10px;
						}
						div.b {
							float: left;

							p.t-1 {
								font-size: 14px;
								color: $title-black;
								font-family: 'Pretendard-SemiBold';
								padding-bottom: 2px;
							}
							p.t-2 {
								font-size: 12px;
								color: #62717E;
							}
						}
					}
					a.s {
						float: right;
						font-size: 14px;
						color: $main-color;
						padding-right: 15px;
						background: url('../img/icons/icon_arrow_green.svg') 100% 50% no-repeat;
					}
				}
				div.down {
					padding-top: 20px;

					div.a {
						float: left;
						margin-right: 10px;
					}
					div.b {
						float: left;

						p.t-1 {
							font-size: 14px;
							color: $title-black;
							font-family: 'Pretendard-SemiBold';
							padding-bottom: 2px;
						}
						p.t-2 {
							font-size: 12px;
							color: #62717E;

							span {
								color: $title-black;
							}
						}
					}
				}
			}			
		}
	}

	/* 리뷰 */
	div.review-area {
		padding-bottom: 200px;

		ul.review-list {

			li {
				float: left;
				border: 1px solid #EAEAEA;
				padding: 30px;
				border-radius: 14px;
				width: calc(33.8% - 24px);
				margin-right: 24px;

				&:nth-child(3n) {
					margin-right: 0;
				}

				div.up {
					min-height: 102px;

					span.thumb {
						float: left;
						width: 102px;
						height: 102px;
						overflow: hidden;
						border-radius: 8px;
						margin-right: 24px;

						img {
							width: 100%; height: 100%;
							object-fit: cover;
							object-position: center;
							display: block;
						}
					}
					div.review-info {
						float: left;
						width: calc(100% - 126px);

						span {
							display: block;

							&.a {
								font-size: 18px;
								color: $title-black;
								font-family: 'Pretendard-SemiBold';
								padding-top: 8px;
							}
							&.b {
								margin: 8px 0 0 0;
								line-height: 18px;
							}
							&.c {
								font-size: 14px;
								color: #62717E;
							}
						}
					}
				}
				p.down {
					font-size: 16px;
					color: #62717E;
					line-height: 20px;
					padding-top: 20px;
				}
			}
		}
	}

	/* 이용 안내 */
	div.useinfo-area {
		padding-bottom: 170px;

		div.user-guide {
			border-top: 1px solid #C6CAD3;
			line-height: 24px;
			font-size: 16px;
			color: #62717E;
			padding-top: 30px;

			ul.use-list {
				list-style-type: disc;
				padding-left: 20px; 
				padding-bottom: 30px;

				li {
					
				}
			}
		}
	}

	/* 이곳과 비슷한 추천공간 */
	div.recommand-area {

		ul.recommand-list {

			li {
				float: left;
				width: calc(33.8% - 24px);
				margin-right: 24px;
				padding-bottom: 50px;

				&:nth-child(3n) {
					margin-right: 0;
				}

				div.thumb {
					position: relative;
					width: 100%;
					height: 450px;
					overflow: hidden;
					border-radius: 8px;
					box-shadow: 0 20px 50px rgba(0,0,0,0.1);

					img {
						width: 100%; height: 100%;
						object-fit: cover;
						object-position: center;
						display: block;
					}
					div.info-tag {
						position: absolute;
						left: 20px;
						top: 20px;

						span {
							display: inline-block;
							font-size: 14px;
							padding: 8px 14px;
							color: $title-black;
							background: #fff;
							border-radius: 100px;
							margin-right: 10px;
						}
					}
				}

				p {

					&.a {
						font-size: 20px;
						color: #62717E;
						padding-top: 20px;	
					}
					&.b {
						font-size: 24px;
						font-family: 'Pretendard-SemiBold';
						padding: 5px 0 10px 0;
					}
					&.c {
						font-size: 24px;
						color: $main-color;
						
						span {
							font-size: 18px;
							color: #A2A2A4;
						}
					}
				}
			}
		}
	}
}

/* 리뷰 전체 보기 */
ul.review-all-list {

	li {
		position: relative;
		border: 1px solid #EAEAEA;
		padding: 20px;
		border-radius: 14px;
		width: 100%;
		margin-bottom: 20px;

		a.view-detail {
			position: absolute;
			right: 20px;
			top: 20px;
			font-size: 14px;
			color: $main-color;
			padding-right: 15px;
			background: url('../img/icons/icon_arrow_green.svg') 100% 50% no-repeat;
		}
		div.up {

			span.thumb {
				position: relative;
				float: left;
				width: 102px;
				height: 102px;
				overflow: hidden;
				border-radius: 8px;
				margin-right: 24px;

				img {
					width: 100%; height: 100%;
					object-fit: cover;
					object-position: center;
					display: block;
				}
				span {
					position: absolute;
					right: 5px;
					bottom: 5px;
					background: #fff;
					color: $title-black;
					font-size: 14px;
					border-radius: 100px;
					padding: 3px 6px;
					border: 1px solid #EAEAEA;
				}
			}
			div.review-info {
				float: left;
				width: calc(100% - 126px);

				span {
					display: block;

					&.a {
						font-size: 18px;
						color: $title-black;
						font-family: 'Pretendard-SemiBold';
						padding-top: 8px;
					}
					&.b {
						margin: 8px 0 0 0;
						line-height: 18px;
					}
					&.c {
						font-size: 14px;
						color: #62717E;
					}
				}
			}
		}
		p.down {
			font-size: 16px;
			color: #62717E;
			line-height: 20px;
			padding-top: 20px;
		}
	}
}

/* 리뷰 상세보기 */
div.review-place-detailview {

	.gallery-review-pc {
		position: relative;
		height: 585px;

		.pagination-review {
			position: absolute;
			z-index: 10;
			top: 365px;
			left: 50%;
			transform: translateX(-50%);
			width: 80px;
			height: 36px;
			border-radius: 100px;
			background-color: rgba(0,0,0,0.7);
			text-align: center;
			color: #fff;
			font-family: 'Pretendard-SemiBold';
			font-size: 20px;
			line-height: 36px;
		}
		.swiper {
			height: 100%;
			height: 300px;
			margin-left: auto;
			margin-right: auto;
		}
		.swiper-slide {
			position: relative;
			text-align: center;
			font-size: 18px;
			background: #0D0D0D;
			display: flex;
			justify-content: center;
			align-items: center;
			background-size: cover;
			background-position: center;
			border-radius: 8px;
			overflow: hidden;

			.slide-center {
				position: absolute;
				inset: 0;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		.swiper-slide img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
  			object-position: center;
		}

		.review-detail-swiper {
			height: 416px !important;
			width: 100%;
		}
		.review-thumb-wiper {
			height: 16.5%;
			box-sizing: border-box;
			padding: 10px 0;
		}
		.review-thumb-wiper .swiper-slide {
			width: 58px !important;
			height: 58px !important;
			opacity: 0.4;
			border-radius: 4px;
			overflow: hidden;
		}
		.review-thumb-wiper .swiper-slide-thumb-active {
			border: 2px solid #2EC4B6;
		}

		.review-thumb-wiper .swiper-slide-thumb-active {
			opacity: 1;
		}


		.swiper-button-next, .swiper-button-prev {
			position: static;
			display: inline-block;
		}
		.swiper-button-next {
			width: 50px; height: 50px;
			background: url('../img/icons/icon_gallery_right_black.svg') 0 0 no-repeat;

			&::after {
				content: '';
			}
		}
		.swiper-button-prev {
			width: 50px; height: 50px;
			background: url('../img/icons/icon_gallery_left_black.svg') 0 0 no-repeat;

			&::after {
				content: '';
			}
		}
		.prevnext-wrapper {
			text-align: center;
			padding-bottom: 10px;

			.swiper-button-next, .swiper-button-prev {
				margin: 0 5px;
			}
		}
	}

	.review-content {
		font-size: 16px;
		line-height: 22px;
		color: #62717E;
	}
}


/* 사진 전체보기 */
div.picture-backface {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,1);
	left: 0;
	top: 0;
	z-index: 100;

	div.place-total-picture-view {
		position: absolute;
		width: 1440px;
		z-index: 100;
		left: 50%;
		top: 48%;
		transform: translate(-50%, -50%);

		.gallery-review-pc {
			position: relative;

			.pagination-pictures {
				position: absolute;
				z-index: 10;
				bottom: -35px;
				left: 50%;
				transform: translateX(-50%);
				width: 80px;
				height: 36px;
				border-radius: 100px;
				background-color: rgba(0,0,0,0.7);
				text-align: center;
				color: #fff;
				font-family: 'Pretendard-SemiBold';
				font-size: 20px;
				line-height: 36px;
			}
			.swiper {
				height: 100%;
				height: 300px;
				margin-left: auto;
				margin-right: auto;
			}
			.swiper-slide {
				position: relative;
				text-align: center;
				font-size: 18px;
				background: #0D0D0D;
				display: flex;
				justify-content: center;
				align-items: center;
				background-size: cover;
				background-position: center;
				border-radius: 8px;
				overflow: hidden;

				.slide-center {
					position: absolute;
					inset: 0;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
			.swiper-slide img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: center;
			}

			.picture-totalview-swiper {
				height: 800px !important;
				width: 100%;
			}
			.picture-total-thumb-wiper {
				height: 16.5%;
				box-sizing: border-box;
				padding: 24px 0;
			}
			.picture-total-thumb-wiper .swiper-slide {
				width: 98px !important;
				height: 98px !important;
				opacity: 0.4;
				border-radius: 4px;
				overflow: hidden;
			}
			.picture-total-thumb-wiper .swiper-slide-thumb-active {
				border: 2px solid #2EC4B6;
			}

			.picture-total-thumb-wiper .swiper-slide-thumb-active {
				opacity: 1;
			}


			.swiper-button-next, .swiper-button-prev {
				position: static;
				display: inline-block;
			}
			.swiper-button-next {
				width: 50px; height: 50px;
				background: url('../img/icons/icon_gallery_right_black.svg') 0 0 no-repeat;

				&::after {
					content: '';
				}
			}
			.swiper-button-prev {
				width: 50px; height: 50px;
				background: url('../img/icons/icon_gallery_left_black.svg') 0 0 no-repeat;

				&::after {
					content: '';
				}
			}
			.prevnext-wrapper {
				text-align: center;
				padding-bottom: 10px;

				.swiper-button-next, .swiper-button-prev {
					margin: 0 5px;
				}
			}
		}

		.review-content {
			font-size: 16px;
			line-height: 22px;
			color: #62717E;
		}
	}
}